{
  "version": "",
  "metadata": {
    "apiVersion": "2.2",
    "endpointPrefix": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "computing",
    "signatureVersion": "n2",
    "xmlNamespace": "http://dummy",
    "protocol": "query"
  },
  "operations": {
    "AllocateAddress": {
      "name": "AllocateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "output": null
    },
    "AssociateAddress": {
      "name": "AssociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "output": null
    },
    "AssociateRouteTable": {
      "name": "AssociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "output": null
    },
    "AssociateUsers": {
      "name": "AssociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "output": null
    },
    "AttachVolume": {
      "name": "AttachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "output": null
    },
    "AuthorizeSecurityGroupIngress": {
      "name": "AuthorizeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "output": null
    },
    "CancelCopyInstances": {
      "name": "CancelCopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "output": null
    },
    "CancelUpload": {
      "name": "CancelUpload",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "output": null
    },
    "ClearLoadBalancerSession": {
      "name": "ClearLoadBalancerSession",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "output": null
    },
    "ConfigureHealthCheck": {
      "name": "ConfigureHealthCheck",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "output": null
    },
    "CopyInstances": {
      "name": "CopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "output": null
    },
    "CreateCustomerGateway": {
      "name": "CreateCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "output": null
    },
    "CreateDhcpOptions": {
      "name": "CreateDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "output": null
    },
    "CreateImage": {
      "name": "CreateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "output": null
    },
    "CreateKeyPair": {
      "name": "CreateKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "output": null
    },
    "CreateLoadBalancer": {
      "name": "CreateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "output": null
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "output": null
    },
    "CreateRouteTable": {
      "name": "CreateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "output": null
    },
    "CreateSecurityGroup": {
      "name": "CreateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "output": null
    },
    "CreateSslCertificate": {
      "name": "CreateSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "output": null
    },
    "CreateVolume": {
      "name": "CreateVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "output": null
    },
    "CreateVpnConnection": {
      "name": "CreateVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "output": null
    },
    "CreateVpnGateway": {
      "name": "CreateVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "output": null
    },
    "DeleteCustomerGateway": {
      "name": "DeleteCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "output": null
    },
    "DeleteDhcpOptions": {
      "name": "DeleteDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "output": null
    },
    "DeleteImage": {
      "name": "DeleteImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "output": null
    },
    "DeleteKeyPair": {
      "name": "DeleteKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "output": null
    },
    "DeleteLoadBalancer": {
      "name": "DeleteLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "output": null
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "output": null
    },
    "DeleteRouteTable": {
      "name": "DeleteRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "output": null
    },
    "DeleteSecurityGroup": {
      "name": "DeleteSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "output": null
    },
    "DeleteSslCertificate": {
      "name": "DeleteSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "output": null
    },
    "DeleteVolume": {
      "name": "DeleteVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "output": null
    },
    "DeleteVpnConnection": {
      "name": "DeleteVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "output": null
    },
    "DeleteVpnGateway": {
      "name": "DeleteVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "output": null
    },
    "DeregisterInstancesFromLoadBalancer": {
      "name": "DeregisterInstancesFromLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "output": null
    },
    "DeregisterInstancesFromSecurityGroup": {
      "name": "DeregisterInstancesFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "output": null
    },
    "DescribeAddresses": {
      "name": "DescribeAddresses",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "output": null
    },
    "DescribeAssociatedUsers": {
      "name": "DescribeAssociatedUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "output": null
    },
    "DescribeAvailabilityZones": {
      "name": "DescribeAvailabilityZones",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "output": null
    },
    "DescribeCustomerGateways": {
      "name": "DescribeCustomerGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "output": null
    },
    "DescribeDhcpOptions": {
      "name": "DescribeDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "output": null
    },
    "DescribeImages": {
      "name": "DescribeImages",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "output": null
    },
    "DescribeInstanceAttribute": {
      "name": "DescribeInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "output": null
    },
    "DescribeInstanceHealth": {
      "name": "DescribeInstanceHealth",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "output": null
    },
    "DescribeInstances": {
      "name": "DescribeInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "output": null
    },
    "DescribeKeyPairs": {
      "name": "DescribeKeyPairs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "output": null
    },
    "DescribeLoadBalancers": {
      "name": "DescribeLoadBalancers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "output": null
    },
    "DescribeRegions": {
      "name": "DescribeRegions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "output": null
    },
    "DescribeResources": {
      "name": "DescribeResources",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "output": null
    },
    "DescribeRouteTables": {
      "name": "DescribeRouteTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "output": null
    },
    "DescribeSecurityActivities": {
      "name": "DescribeSecurityActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "output": null
    },
    "DescribeSecurityGroupOption": {
      "name": "DescribeSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupOptionRequest"
      },
      "output": null
    },
    "DescribeSecurityGroups": {
      "name": "DescribeSecurityGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "output": null
    },
    "DescribeServiceStatus": {
      "name": "DescribeServiceStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "output": null
    },
    "DescribeSslCertificateAttribute": {
      "name": "DescribeSslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "output": null
    },
    "DescribeSslCertificates": {
      "name": "DescribeSslCertificates",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "output": null
    },
    "DescribeUploads": {
      "name": "DescribeUploads",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "output": null
    },
    "DescribeUsage": {
      "name": "DescribeUsage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "output": null
    },
    "DescribeUserActivities": {
      "name": "DescribeUserActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "output": null
    },
    "DescribeVolumes": {
      "name": "DescribeVolumes",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "output": null
    },
    "DescribeVpnConnections": {
      "name": "DescribeVpnConnections",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "output": null
    },
    "DescribeVpnGateways": {
      "name": "DescribeVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "output": null
    },
    "DetachVolume": {
      "name": "DetachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "output": null
    },
    "DisassociateAddress": {
      "name": "DisassociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "output": null
    },
    "DisassociateRouteTable": {
      "name": "DisassociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "output": null
    },
    "DissociateUsers": {
      "name": "DissociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "output": null
    },
    "DownloadSslCertificate": {
      "name": "DownloadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "output": null
    },
    "ImportInstance": {
      "name": "ImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "output": null
    },
    "ImportKeyPair": {
      "name": "ImportKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "output": null
    },
    "ModifyImageAttribute": {
      "name": "ModifyImageAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "output": null
    },
    "ModifyInstanceAttribute": {
      "name": "ModifyInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "output": null
    },
    "ModifySslCertificateAttribute": {
      "name": "ModifySslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "output": null
    },
    "ModifyVolumeAttribute": {
      "name": "ModifyVolumeAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "output": null
    },
    "NiftyAssociateImage": {
      "name": "NiftyAssociateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "output": null
    },
    "NiftyAssociateNatTable": {
      "name": "NiftyAssociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "output": null
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyCreateAlarm": {
      "name": "NiftyCreateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "output": null
    },
    "NiftyCreateAutoScalingGroup": {
      "name": "NiftyCreateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpConfig": {
      "name": "NiftyCreateDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpIpAddressPool": {
      "name": "NiftyCreateDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpStaticMapping": {
      "name": "NiftyCreateDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "output": null
    },
    "NiftyCreateInstanceSnapshot": {
      "name": "NiftyCreateInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyCreateNatRule": {
      "name": "NiftyCreateNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "output": null
    },
    "NiftyCreateNatTable": {
      "name": "NiftyCreateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "output": null
    },
    "NiftyCreatePrivateLan": {
      "name": "NiftyCreatePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "output": null
    },
    "NiftyCreateRouter": {
      "name": "NiftyCreateRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "output": null
    },
    "NiftyCreateWebProxy": {
      "name": "NiftyCreateWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "output": null
    },
    "NiftyDeleteAlarm": {
      "name": "NiftyDeleteAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "output": null
    },
    "NiftyDeleteAutoScalingGroup": {
      "name": "NiftyDeleteAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpConfig": {
      "name": "NiftyDeleteDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "name": "NiftyDeleteDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpStaticMapping": {
      "name": "NiftyDeleteDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "output": null
    },
    "NiftyDeleteInstanceSnapshot": {
      "name": "NiftyDeleteInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyDeleteNatRule": {
      "name": "NiftyDeleteNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "output": null
    },
    "NiftyDeleteNatTable": {
      "name": "NiftyDeleteNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "output": null
    },
    "NiftyDeletePrivateLan": {
      "name": "NiftyDeletePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "output": null
    },
    "NiftyDeleteRouter": {
      "name": "NiftyDeleteRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "output": null
    },
    "NiftyDeleteWebProxy": {
      "name": "NiftyDeleteWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "output": null
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmHistory": {
      "name": "NiftyDescribeAlarmHistory",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmRulesActivities": {
      "name": "NiftyDescribeAlarmRulesActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarms": {
      "name": "NiftyDescribeAlarms",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmsPartitions": {
      "name": "NiftyDescribeAlarmsPartitions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "output": null
    },
    "NiftyDescribeAutoScalingGroups": {
      "name": "NiftyDescribeAutoScalingGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "output": null
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "output": null
    },
    "NiftyDescribeDhcpConfigs": {
      "name": "NiftyDescribeDhcpConfigs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "output": null
    },
    "NiftyDescribeDhcpStatus": {
      "name": "NiftyDescribeDhcpStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "output": null
    },
    "NiftyDescribeInstanceSnapshots": {
      "name": "NiftyDescribeInstanceSnapshots",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "output": null
    },
    "NiftyDescribeNatTables": {
      "name": "NiftyDescribeNatTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "output": null
    },
    "NiftyDescribePerformanceChart": {
      "name": "NiftyDescribePerformanceChart",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "output": null
    },
    "NiftyDescribePrivateLans": {
      "name": "NiftyDescribePrivateLans",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "output": null
    },
    "NiftyDescribeRouters": {
      "name": "NiftyDescribeRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "output": null
    },
    "NiftyDescribeScalingActivities": {
      "name": "NiftyDescribeScalingActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeVpnGatewayActivities": {
      "name": "NiftyDescribeVpnGatewayActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeWebProxies": {
      "name": "NiftyDescribeWebProxies",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "output": null
    },
    "NiftyDisableDhcp": {
      "name": "NiftyDisableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "output": null
    },
    "NiftyDisassociateNatTable": {
      "name": "NiftyDisassociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "output": null
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyEnableDhcp": {
      "name": "NiftyEnableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "output": null
    },
    "NiftyModifyAddressAttribute": {
      "name": "NiftyModifyAddressAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "name": "NiftyModifyCustomerGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyKeyPairAttribute": {
      "name": "NiftyModifyKeyPairAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyPrivateLanAttribute": {
      "name": "NiftyModifyPrivateLanAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyRouterAttribute": {
      "name": "NiftyModifyRouterAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyVpnGatewayAttribute": {
      "name": "NiftyModifyVpnGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyWebProxyAttribute": {
      "name": "NiftyModifyWebProxyAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "output": null
    },
    "NiftyRebootRouters": {
      "name": "NiftyRebootRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "output": null
    },
    "NiftyRebootVpnGateways": {
      "name": "NiftyRebootVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "output": null
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyReleaseRouterBackupState": {
      "name": "NiftyReleaseRouterBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "output": null
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "name": "NiftyReleaseVpnGatewayBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "output": null
    },
    "NiftyReplaceDhcpConfig": {
      "name": "NiftyReplaceDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyReplaceDhcpOption": {
      "name": "NiftyReplaceDhcpOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpOptionRequest"
      },
      "output": null
    },
    "NiftyReplaceNatRule": {
      "name": "NiftyReplaceNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatRuleRequest"
      },
      "output": null
    },
    "NiftyReplaceNatTableAssociation": {
      "name": "NiftyReplaceNatTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatTableAssociationRequest"
      },
      "output": null
    },
    "NiftyReplaceRouteTableAssociationWithVpnGateway": {
      "name": "NiftyReplaceRouteTableAssociationWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyReplaceRouterLatestVersion": {
      "name": "NiftyReplaceRouterLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouterLatestVersionRequest"
      },
      "output": null
    },
    "NiftyReplaceVpnGatewayLatestVersion": {
      "name": "NiftyReplaceVpnGatewayLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionRequest"
      },
      "output": null
    },
    "NiftyRestoreInstanceSnapshot": {
      "name": "NiftyRestoreInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyRestoreRouterPreviousVersion": {
      "name": "NiftyRestoreRouterPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreRouterPreviousVersionRequest"
      },
      "output": null
    },
    "NiftyRestoreVpnGatewayPreviousVersion": {
      "name": "NiftyRestoreVpnGatewayPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionRequest"
      },
      "output": null
    },
    "NiftyRetryImportInstance": {
      "name": "NiftyRetryImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRetryImportInstanceRequest"
      },
      "output": null
    },
    "NiftyUpdateAlarm": {
      "name": "NiftyUpdateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAlarmRequest"
      },
      "output": null
    },
    "NiftyUpdateAutoScalingGroup": {
      "name": "NiftyUpdateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyUpdateInstanceNetworkInterfaces": {
      "name": "NiftyUpdateInstanceNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesRequest"
      },
      "output": null
    },
    "NiftyUpdateRouterNetworkInterfaces": {
      "name": "NiftyUpdateRouterNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateRouterNetworkInterfacesRequest"
      },
      "output": null
    },
    "NiftyUpdateVpnGatewayNetworkInterfaces": {
      "name": "NiftyUpdateVpnGatewayNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesRequest"
      },
      "output": null
    },
    "RebootInstances": {
      "name": "RebootInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RebootInstancesRequest"
      },
      "output": null
    },
    "RegisterCorporateInfoForCertificate": {
      "name": "RegisterCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterCorporateInfoForCertificateRequest"
      },
      "output": null
    },
    "RegisterInstancesWithLoadBalancer": {
      "name": "RegisterInstancesWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithLoadBalancerRequest"
      },
      "output": null
    },
    "RegisterInstancesWithSecurityGroup": {
      "name": "RegisterInstancesWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithSecurityGroupRequest"
      },
      "output": null
    },
    "RegisterPortWithLoadBalancer": {
      "name": "RegisterPortWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterPortWithLoadBalancerRequest"
      },
      "output": null
    },
    "ReleaseAddress": {
      "name": "ReleaseAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReleaseAddressRequest"
      },
      "output": null
    },
    "ReplaceRoute": {
      "name": "ReplaceRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteRequest"
      },
      "output": null
    },
    "ReplaceRouteTableAssociation": {
      "name": "ReplaceRouteTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteTableAssociationRequest"
      },
      "output": null
    },
    "RevokeSecurityGroupIngress": {
      "name": "RevokeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RevokeSecurityGroupIngressRequest"
      },
      "output": null
    },
    "RunInstances": {
      "name": "RunInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RunInstancesRequest"
      },
      "output": null
    },
    "SetFilterForLoadBalancer": {
      "name": "SetFilterForLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "SetFilterForLoadBalancerRequest"
      },
      "output": null
    },
    "StartInstances": {
      "name": "StartInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StartInstancesRequest"
      },
      "output": null
    },
    "StopInstances": {
      "name": "StopInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StopInstancesRequest"
      },
      "output": null
    },
    "TerminateInstances": {
      "name": "TerminateInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "TerminateInstancesRequest"
      },
      "output": null
    },
    "UpdateLoadBalancer": {
      "name": "UpdateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerRequest"
      },
      "output": null
    },
    "UpdateLoadBalancerOption": {
      "name": "UpdateLoadBalancerOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerOptionRequest"
      },
      "output": null
    },
    "UpdateSecurityGroup": {
      "name": "UpdateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupRequest"
      },
      "output": null
    },
    "UpdateSecurityGroupOption": {
      "name": "UpdateSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupOptionRequest"
      },
      "output": null
    },
    "UploadSslCertificate": {
      "name": "UploadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UploadSslCertificateRequest"
      },
      "output": null
    }
  },
  "shapes": {
    "AccountName": {
      "type": "boolean"
    },
    "AccountingType": {
      "type": "string"
    },
    "AccountingTypeList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "AddList": {
      "type": "list",
      "member": {
        "shape": "Group"
      }
    },
    "AddOnFilter": {
      "type": "boolean"
    },
    "Address": {
      "type": "string"
    },
    "Agreement": {
      "type": "boolean"
    },
    "All": {
      "type": "boolean"
    },
    "AllocateAddressRequest": {
      "type": "structure",
      "members": {
        "Domain": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NiftyPrivateIp": {
          "shape": "Boolean"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      }
    },
    "AssociateAddressRequest": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "shape": "String"
        },
        "AllowReassociation": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId"
      ]
    },
    "AssociateRouteTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        },
        "SubnetId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "AssociateUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "UsersList": {
          "shape": "UsersList"
        }
      },
      "required": [
        "FunctionName",
        "UsersList"
      ]
    },
    "AttachVolumeRequest": {
      "type": "structure",
      "members": {
        "Device": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "AuthorizeSecurityGroupIngressRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "IpPermissionsList": {
          "shape": "IpPermissionsList"
        },
        "UserId": {
          "shape": "String"
        }
      }
    },
    "AutoScalingGroupNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AvailabilityZonesList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "BalancingType": {
      "type": "string"
    },
    "BlockDeviceMappingList": {
      "type": "list",
      "member": {
        "shape": "EbsStruct"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BreachDuration": {
      "type": "integer"
    },
    "BypassInterfaceStruct": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "NetworkId"
        },
        "NetworkName": {
          "shape": "NetworkName"
        }
      }
    },
    "Bytes": {
      "type": "integer"
    },
    "CancelCopyInstancesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "shape": "String"
        }
      }
    },
    "CancelUploadRequest": {
      "type": "structure",
      "members": {
        "ConversionTaskId": {
          "shape": "String"
        }
      },
      "required": [
        "ConversionTaskId"
      ]
    },
    "CertInfoStruct": {
      "type": "structure",
      "members": {
        "CountryName": {
          "shape": "CountryName"
        },
        "EmailAddress": {
          "shape": "EmailAddress"
        },
        "LocationName": {
          "shape": "LocationName"
        },
        "OrganizationName": {
          "shape": "OrganizationName"
        },
        "OrganizationUnitName": {
          "shape": "OrganizationUnitName"
        },
        "StateName": {
          "shape": "StateName"
        }
      }
    },
    "CidrIp": {
      "type": "string"
    },
    "ClearLoadBalancerSessionRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "ConfigureHealthCheckRequest": {
      "type": "structure",
      "members": {
        "HealthCheck": {
          "shape": "HealthCheckStruct"
        },
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort",
        "HealthCheck",
        "HealthCheck",
        "HealthCheck"
      ]
    },
    "ConversionTaskIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "CookieExpirationPeriod": {
      "type": "string"
    },
    "CookieName": {
      "type": "string"
    },
    "CopyInstanceStruct": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "AccountingType"
        },
        "InstanceName": {
          "shape": "InstanceName"
        },
        "InstanceType": {
          "shape": "InstanceType"
        },
        "IpType": {
          "shape": "IpType"
        },
        "LoadBalancersList": {
          "shape": "LoadBalancersList"
        },
        "PlacementStruct": {
          "shape": "PlacementStruct"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        }
      }
    },
    "CopyInstancesRequest": {
      "type": "structure",
      "members": {
        "CopyCount": {
          "shape": "Integer"
        },
        "CopyInstance": {
          "shape": "CopyInstanceStruct"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterfaceList": {
          "shape": "NetworkInterfaceList"
        }
      },
      "required": [
        "InstanceId",
        "CopyInstance"
      ]
    },
    "CountryName": {
      "type": "string"
    },
    "CourseUpdateStruct": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Agreement"
        }
      }
    },
    "CreateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "BgpAsn": {
          "shape": "Integer"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NiftyCustomerGatewayDescription": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyLanSideCidrBlock": {
          "shape": "String"
        },
        "NiftyLanSideIpAddress": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "required": [
        "IpAddress"
      ]
    },
    "CreateDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigurationList": {
          "shape": "DhcpConfigurationList"
        }
      },
      "required": [
        "DhcpConfigurationList",
        "DhcpConfigurationList"
      ]
    },
    "CreateImageRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "LeftInstance": {
          "shape": "Boolean"
        },
        "Name": {
          "shape": "String"
        },
        "NoReboot": {
          "shape": "Boolean"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      },
      "required": [
        "InstanceId",
        "Name"
      ]
    },
    "CreateKeyPairRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "KeyName": {
          "shape": "String"
        },
        "Password": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName",
        "Password"
      ]
    },
    "CreateLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZonesList": {
          "shape": "AvailabilityZonesList"
        },
        "IpVersion": {
          "shape": "String"
        },
        "ListenersList": {
          "shape": "ListenersList"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "NetworkVolume": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName"
      ]
    },
    "CreateRouteRequest": {
      "type": "structure",
      "members": {
        "DestinationCidrBlock": {
          "shape": "String"
        },
        "GatewayId": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NetworkId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NetworkName": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "VpcPeeringConnectionId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ]
    },
    "CreateRouteTableRequest": {
      "type": "structure",
      "members": {
        "VpcId": {
          "shape": "String"
        }
      }
    },
    "CreateSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupDescription": {
          "shape": "String"
        },
        "GroupName": {
          "shape": "String"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      }
    },
    "CreateSslCertificateRequest": {
      "type": "structure",
      "members": {
        "ApproverEmailAddress": {
          "shape": "String"
        },
        "CertAuthority": {
          "shape": "Integer"
        },
        "CertInfo": {
          "shape": "CertInfoStruct"
        },
        "Count": {
          "shape": "Integer"
        },
        "Fqdn": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        },
        "KeyLength": {
          "shape": "Integer"
        },
        "ValidityTerm": {
          "shape": "Integer"
        }
      }
    },
    "CreateVolumeRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "DiskType": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "Size": {
          "shape": "String"
        },
        "SnapshotId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "CreateVpnConnectionRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyIPsecConfiguration": {
          "shape": "NiftyIPsecConfigurationStruct"
        },
        "NiftyIpsecConfiguration": {
          "shape": "NiftyIpsecConfigurationStruct"
        },
        "NiftyRemoteVpn": {
          "shape": "NiftyRemoteVpnStruct"
        },
        "NiftyTunnel": {
          "shape": "NiftyTunnelStruct"
        },
        "NiftyVpnConnectionDescription": {
          "shape": "String"
        },
        "NiftyVpnConnectionMtu": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "Options": {
          "shape": "OptionsStruct"
        },
        "Type": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      },
      "required": [
        "Type",
        "VpnGatewayId"
      ]
    },
    "CreateVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "NiftyNetwork": {
          "shape": "NiftyNetworkStruct"
        },
        "NiftyRedundancy": {
          "shape": "Boolean"
        },
        "NiftyVpnGatewayDescription": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "NiftyVpnGatewayType": {
          "shape": "String"
        },
        "Placement": {
          "shape": "PlacementStruct"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        },
        "Type": {
          "shape": "String"
        }
      }
    },
    "CreatedTime": {
      "type": "timestamp"
    },
    "CustomerGatewayIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "DDayStruct": {
      "type": "structure",
      "members": {
        "EndingDDay": {
          "shape": "EndingDDay"
        },
        "StartingDDay": {
          "shape": "StartingDDay"
        }
      }
    },
    "DNSName": {
      "type": "string"
    },
    "DataType": {
      "type": "string"
    },
    "DataTypeList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "DayStruct": {
      "type": "structure",
      "members": {
        "SetFriday": {
          "shape": "SetFriday"
        },
        "SetMonday": {
          "shape": "SetMonday"
        },
        "SetSaturday": {
          "shape": "SetSaturday"
        },
        "SetSunday": {
          "shape": "SetSunday"
        },
        "SetThursday": {
          "shape": "SetThursday"
        },
        "SetTuesday": {
          "shape": "SetTuesday"
        },
        "SetWednesday": {
          "shape": "SetWednesday"
        }
      }
    },
    "DeleteCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        }
      }
    },
    "DeleteDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpOptionsId": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpOptionsId"
      ]
    },
    "DeleteImageRequest": {
      "type": "structure",
      "members": {
        "ImageId": {
          "shape": "String"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "DeleteKeyPairRequest": {
      "type": "structure",
      "members": {
        "KeyName": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName"
      ]
    },
    "DeleteLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "DeleteOnTermination": {
      "type": "boolean"
    },
    "DeleteRouteRequest": {
      "type": "structure",
      "members": {
        "DestinationCidrBlock": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ]
    },
    "DeleteRouteTableRequest": {
      "type": "structure",
      "members": {
        "RouteTableId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "DeleteSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        }
      }
    },
    "DeleteSslCertificateRequest": {
      "type": "structure",
      "members": {
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "DeleteVolumeRequest": {
      "type": "structure",
      "members": {
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "DeleteVpnConnectionRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "VpnConnectionId": {
          "shape": "String"
        }
      },
      "required": [
        "VpnConnectionId"
      ]
    },
    "DeleteVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      }
    },
    "DeregisterInstancesFromLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "InstancesList": {
          "shape": "InstancesList"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort",
        "InstancesList"
      ]
    },
    "DeregisterInstancesFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "InstanceIdList": {
          "shape": "InstanceIdList"
        }
      }
    },
    "DescribeAddressesRequest": {
      "type": "structure",
      "members": {
        "PublicIpList": {
          "shape": "PublicIpList"
        }
      }
    },
    "DescribeAssociatedUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName"
      ]
    },
    "DescribeAvailabilityZonesRequest": {
      "type": "structure",
      "members": {
        "ZoneNameList": {
          "shape": "ZoneNameList"
        }
      }
    },
    "DescribeCustomerGatewaysRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayIdList": {
          "shape": "CustomerGatewayIdList"
        },
        "FilterList": {
          "shape": "FilterList"
        },
        "NiftyCustomerGatewayNameList": {
          "shape": "NiftyCustomerGatewayNameList"
        }
      }
    },
    "DescribeDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DescribeDhcpOptionsResponse": {
          "shape": "String"
        },
        "FilterList": {
          "shape": "FilterList"
        }
      }
    },
    "DescribeImagesRequest": {
      "type": "structure",
      "members": {
        "ExecutableByList": {
          "shape": "ExecutableByList"
        },
        "ImageIdList": {
          "shape": "ImageIdList"
        },
        "ImageNameList": {
          "shape": "ImageNameList"
        },
        "OwnerList": {
          "shape": "OwnerList"
        }
      }
    },
    "DescribeInstanceAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        }
      }
    },
    "DescribeInstanceHealthRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "InstancesList": {
          "shape": "InstancesList"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "DescribeInstancesRequest": {
      "type": "structure",
      "members": {
        "InstanceIdList": {
          "shape": "InstanceIdList"
        },
        "TenancyList": {
          "shape": "TenancyList"
        }
      }
    },
    "DescribeKeyPairsRequest": {
      "type": "structure",
      "members": {
        "KeyNameList": {
          "shape": "KeyNameList"
        }
      }
    },
    "DescribeLoadBalancersRequest": {
      "type": "structure",
      "members": {
        "LoadBalancerNames": {
          "shape": "LoadBalancerNamesStruct"
        },
        "LoadBalancerNamesList": {
          "shape": "LoadBalancerNamesList"
        }
      }
    },
    "DescribeRegionsRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "RegionNameList": {
          "shape": "RegionNameList"
        }
      }
    },
    "DescribeResourcesRequest": {
      "type": "structure"
    },
    "DescribeRouteTablesRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "RouteTableIdList": {
          "shape": "RouteTableIdList"
        }
      }
    },
    "DescribeSecurityActivitiesRequest": {
      "type": "structure",
      "members": {
        "ActivityDate": {
          "shape": "String"
        },
        "GroupName": {
          "shape": "String"
        },
        "Range": {
          "shape": "RangeStruct"
        }
      }
    },
    "DescribeSecurityGroupOptionRequest": {
      "type": "structure"
    },
    "DescribeSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "GroupNameList": {
          "shape": "GroupNameList"
        }
      }
    },
    "DescribeServiceStatusRequest": {
      "type": "structure",
      "members": {
        "FromDate": {
          "shape": "String"
        },
        "ToDate": {
          "shape": "String"
        }
      }
    },
    "DescribeSslCertificateAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "DescribeSslCertificatesRequest": {
      "type": "structure",
      "members": {
        "FqdnIdList": {
          "shape": "FqdnIdList"
        },
        "FqdnList": {
          "shape": "FqdnList"
        }
      }
    },
    "DescribeUploadsRequest": {
      "type": "structure",
      "members": {
        "ConversionTaskIdList": {
          "shape": "ConversionTaskIdList"
        }
      }
    },
    "DescribeUsageRequest": {
      "type": "structure",
      "members": {
        "IsCharge": {
          "shape": "Boolean"
        },
        "Region": {
          "shape": "String"
        },
        "YearMonth": {
          "shape": "String"
        }
      }
    },
    "DescribeUserActivitiesRequest": {
      "type": "structure",
      "members": {
        "Range": {
          "shape": "RangeStruct"
        },
        "YearMonth": {
          "shape": "String"
        }
      }
    },
    "DescribeVolumesRequest": {
      "type": "structure",
      "members": {
        "VolumeIdList": {
          "shape": "VolumeIdList"
        }
      }
    },
    "DescribeVpnConnectionsRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "VpnConnectionIdList": {
          "shape": "VpnConnectionIdList"
        }
      }
    },
    "DescribeVpnGatewaysRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "NiftyVpnGatewayNameList": {
          "shape": "NiftyVpnGatewayNameList"
        },
        "VpnGatewayIdList": {
          "shape": "VpnGatewayIdList"
        }
      }
    },
    "Description": {
      "type": "string"
    },
    "DescriptionStruct": {
      "type": "structure",
      "members": {
        "Value": {
          "shape": "Value"
        }
      }
    },
    "DestinationPort": {
      "type": "string"
    },
    "DestinationStruct": {
      "type": "structure",
      "members": {
        "Port": {
          "shape": "Port"
        }
      }
    },
    "DetachVolumeRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "Device": {
          "shape": "String"
        },
        "Force": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      },
      "required": [
        "VolumeId"
      ]
    },
    "DeviceIndex": {
      "type": "integer"
    },
    "DeviceName": {
      "type": "string"
    },
    "Dhcp": {
      "type": "boolean"
    },
    "DhcpConfigId": {
      "type": "string"
    },
    "DhcpConfigurationList": {
      "type": "list",
      "member": {
        "shape": "ValueList"
      }
    },
    "DhcpOptionsId": {
      "type": "string"
    },
    "DisassociateAddressRequest": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        }
      }
    },
    "DisassociateRouteTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "AssociationId": {
          "shape": "String"
        }
      },
      "required": [
        "AssociationId"
      ]
    },
    "DiskImageList": {
      "type": "list",
      "member": {
        "shape": "VolumeStruct"
      }
    },
    "DissociateUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "UsersList": {
          "shape": "UsersList"
        }
      },
      "required": [
        "FunctionName",
        "UsersList"
      ]
    },
    "DistributionIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "Double": {
      "type": "double"
    },
    "DownloadSslCertificateRequest": {
      "type": "structure",
      "members": {
        "FileType": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId",
        "FileType"
      ]
    },
    "EbsStruct": {
      "type": "structure",
      "members": {
        "DeleteOnTermination": {
          "shape": "DeleteOnTermination"
        },
        "NoDevice": {
          "shape": "NoDevice"
        },
        "SnapshotId": {
          "shape": "SnapshotId"
        },
        "VolumeSize": {
          "shape": "VolumeSize"
        }
      }
    },
    "EmailAddress": {
      "type": "string"
    },
    "EmailAddressList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "Enable": {
      "type": "boolean"
    },
    "Enabled": {
      "type": "boolean"
    },
    "Encapsulation": {
      "type": "string"
    },
    "Encoding": {
      "type": "string"
    },
    "EncryptionAlgorithm": {
      "type": "string"
    },
    "EndNumber": {
      "type": "integer"
    },
    "EndingDDay": {
      "type": "string"
    },
    "EndingMonth": {
      "type": "string"
    },
    "EndingTimeZone": {
      "type": "string"
    },
    "ExecutableByList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "ExpirationPeriod": {
      "type": "integer"
    },
    "FilterList": {
      "type": "list",
      "member": {
        "shape": "ValueList"
      }
    },
    "FilterType": {
      "type": "string"
    },
    "Format": {
      "type": "string"
    },
    "FqdnIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "FqdnList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "FromDate": {
      "type": "string"
    },
    "FromPort": {
      "type": "integer"
    },
    "FunctionName": {
      "type": "string"
    },
    "Group": {
      "type": "string"
    },
    "GroupName": {
      "type": "string"
    },
    "GroupNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "GroupsList": {
      "type": "list",
      "member": {
        "shape": "GroupName"
      }
    },
    "HashAlgorithm": {
      "type": "string"
    },
    "HealthCheckStruct": {
      "type": "structure",
      "members": {
        "HealthyThreshold": {
          "shape": "HealthyThreshold"
        },
        "Interval": {
          "shape": "Interval"
        },
        "Target": {
          "shape": "Target"
        },
        "Timeout": {
          "shape": "Timeout"
        },
        "UnhealthyThreshold": {
          "shape": "UnhealthyThreshold"
        }
      }
    },
    "HealthyThreshold": {
      "type": "integer"
    },
    "IPAddress": {
      "type": "string"
    },
    "IPAddressesList": {
      "type": "list",
      "member": {
        "shape": "AddOnFilter"
      }
    },
    "ImageIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "ImageNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "ImageStruct": {
      "type": "structure",
      "members": {
        "Bytes": {
          "shape": "Bytes"
        },
        "Format": {
          "shape": "Format"
        },
        "ImportManifestUrl": {
          "shape": "ImportManifestUrl"
        }
      }
    },
    "ImportInstanceRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "Architecture": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "DiskImageList": {
          "shape": "DiskImageList"
        },
        "InstanceId": {
          "shape": "String"
        },
        "InstanceInitiatedShutdownBehavior": {
          "shape": "String"
        },
        "InstanceType": {
          "shape": "String"
        },
        "IpType": {
          "shape": "String"
        },
        "Monitoring": {
          "shape": "MonitoringStruct"
        },
        "NetworkInterfaceList": {
          "shape": "NetworkInterfaceList"
        },
        "Ovf": {
          "shape": "String"
        },
        "Placement": {
          "shape": "PlacementStruct"
        },
        "Platform": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        },
        "SubnetId": {
          "shape": "String"
        },
        "UserData": {
          "shape": "String"
        }
      },
      "required": [
        "Ovf"
      ]
    },
    "ImportKeyPairRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "KeyName": {
          "shape": "String"
        },
        "PublicKeyMaterial": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName",
        "PublicKeyMaterial"
      ]
    },
    "ImportManifestUrl": {
      "type": "string"
    },
    "InOut": {
      "type": "string"
    },
    "InboundInterfaceStruct": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "NetworkId"
        },
        "NetworkName": {
          "shape": "NetworkName"
        }
      }
    },
    "InstanceId": {
      "type": "string"
    },
    "InstanceIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "InstanceName": {
      "type": "string"
    },
    "InstancePort": {
      "type": "integer"
    },
    "InstancePortList": {
      "type": "list",
      "member": {
        "shape": "Integer"
      }
    },
    "InstanceSnapshotIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "InstanceType": {
      "type": "string"
    },
    "InstanceTypeList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "InstanceUniqueId": {
      "type": "string"
    },
    "InstancesList": {
      "type": "list",
      "member": {
        "shape": "InstanceId"
      }
    },
    "Integer": {
      "type": "integer"
    },
    "InternetKeyExchange": {
      "type": "string"
    },
    "Interval": {
      "type": "integer"
    },
    "IpAddress": {
      "type": "string"
    },
    "IpPermissionsList": {
      "type": "list",
      "member": {
        "shape": "IpRangesList"
      }
    },
    "IpProtocol": {
      "type": "string"
    },
    "IpRangesList": {
      "type": "list",
      "member": {
        "shape": "CidrIp"
      }
    },
    "IpType": {
      "type": "string"
    },
    "Key": {
      "type": "string"
    },
    "KeyNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "LaunchPermissionStruct": {
      "type": "structure",
      "members": {
        "AddList": {
          "shape": "AddList"
        },
        "RemoveList": {
          "shape": "RemoveList"
        }
      }
    },
    "LicenseList": {
      "type": "list",
      "member": {
        "shape": "LicenseNum"
      }
    },
    "LicenseName": {
      "type": "string"
    },
    "LicenseNum": {
      "type": "string"
    },
    "ListenInterfaceStruct": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "NetworkId"
        },
        "NetworkName": {
          "shape": "NetworkName"
        }
      }
    },
    "ListenerStruct": {
      "type": "structure",
      "members": {
        "BalancingType": {
          "shape": "BalancingType"
        },
        "InstancePort": {
          "shape": "InstancePort"
        },
        "LoadBalancerPort": {
          "shape": "LoadBalancerPort"
        },
        "Protocol": {
          "shape": "Protocol"
        }
      }
    },
    "ListenerUpdateStruct": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "InstancePort"
        },
        "ListenerStruct": {
          "shape": "ListenerStruct"
        },
        "LoadBalancerPort": {
          "shape": "LoadBalancerPort"
        }
      }
    },
    "ListenersList": {
      "type": "list",
      "member": {
        "shape": "BalancingType"
      }
    },
    "LoadBalancerName": {
      "type": "string"
    },
    "LoadBalancerNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "LoadBalancerNamesList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "LoadBalancerNamesStruct": {
      "type": "structure",
      "members": {
        "InstancePortList": {
          "shape": "InstancePortList"
        },
        "LoadBalancerPortList": {
          "shape": "LoadBalancerPortList"
        }
      }
    },
    "LoadBalancerPort": {
      "type": "integer"
    },
    "LoadBalancerPortList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "LoadBalancersList": {
      "type": "list",
      "member": {
        "shape": "InstancePort"
      }
    },
    "LocationName": {
      "type": "string"
    },
    "Memo": {
      "type": "string"
    },
    "Mode": {
      "type": "string"
    },
    "ModifyImageAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "ImageId": {
          "shape": "String"
        },
        "LaunchPermission": {
          "shape": "LaunchPermissionStruct"
        },
        "ProductCodeList": {
          "shape": "ProductCodeList"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "ModifyInstanceAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "Force": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "Tenancy": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "Attribute",
        "Value"
      ]
    },
    "ModifySslCertificateAttributeRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "DescriptionStruct"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "ModifyVolumeAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      },
      "required": [
        "VolumeId"
      ]
    },
    "MonitoringStruct": {
      "type": "structure",
      "members": {
        "Enabled": {
          "shape": "Enabled"
        }
      }
    },
    "MonthStruct": {
      "type": "structure",
      "members": {
        "EndingMonth": {
          "shape": "EndingMonth"
        },
        "StartingMonth": {
          "shape": "StartingMonth"
        }
      }
    },
    "Name": {
      "type": "string"
    },
    "NameServer": {
      "type": "string"
    },
    "NatTableIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "NetworkId": {
      "type": "string"
    },
    "NetworkIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "NetworkInterfaceList": {
      "type": "list",
      "member": {
        "shape": "IpAddress"
      }
    },
    "NetworkInterfaceStruct": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "shape": "IpAddress"
        }
      }
    },
    "NetworkName": {
      "type": "string"
    },
    "NetworkVolume": {
      "type": "integer"
    },
    "NextMonthAccountingType": {
      "type": "string"
    },
    "NiftyAssociateImageRequest": {
      "type": "structure",
      "members": {
        "DistributionIdList": {
          "shape": "DistributionIdList"
        },
        "ImageId": {
          "shape": "String"
        },
        "IsPublic": {
          "shape": "Boolean"
        },
        "IsRedistribute": {
          "shape": "Boolean"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "NiftyAssociateNatTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "NatTableId": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId"
      ]
    },
    "NiftyAssociateRouteTableWithVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "NiftyCreateAlarmRequest": {
      "type": "structure",
      "members": {
        "AlarmCondition": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "EmailAddressList": {
          "shape": "EmailAddressList"
        },
        "FunctionName": {
          "shape": "String"
        },
        "InstanceIdList": {
          "shape": "InstanceIdList"
        },
        "LoadBalancerNameList": {
          "shape": "LoadBalancerNameList"
        },
        "LoadBalancerPortList": {
          "shape": "LoadBalancerPortList"
        },
        "PartitionList": {
          "shape": "PartitionList"
        },
        "RuleList": {
          "shape": "RuleList"
        },
        "RuleName": {
          "shape": "String"
        },
        "Zone": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "RuleList",
        "RuleList",
        "EmailAddressList"
      ]
    },
    "NiftyCreateAutoScalingGroupRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "shape": "String"
        },
        "ChangeInCapacity": {
          "shape": "Integer"
        },
        "DefaultCooldown": {
          "shape": "Integer"
        },
        "Description": {
          "shape": "String"
        },
        "ImageId": {
          "shape": "String"
        },
        "InstanceLifecycleLimit": {
          "shape": "Integer"
        },
        "InstanceType": {
          "shape": "String"
        },
        "LoadBalancersList": {
          "shape": "LoadBalancersList"
        },
        "MaxSize": {
          "shape": "Integer"
        },
        "MinSize": {
          "shape": "Integer"
        },
        "Scaleout": {
          "shape": "Integer"
        },
        "ScaleoutCondition": {
          "shape": "String"
        },
        "ScalingScheduleList": {
          "shape": "ScalingScheduleList"
        },
        "ScalingTriggerList": {
          "shape": "ScalingTriggerList"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ImageId",
        "ScalingTriggerList",
        "ScalingTriggerList",
        "ScaleoutCondition",
        "MinSize",
        "MaxSize",
        "ChangeInCapacity"
      ]
    },
    "NiftyCreateDhcpConfigRequest": {
      "type": "structure"
    },
    "NiftyCreateDhcpIpAddressPoolRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "DhcpConfigId": {
          "shape": "String"
        },
        "StartIpAddress": {
          "shape": "String"
        },
        "StopIpAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "StartIpAddress",
        "StopIpAddress"
      ]
    },
    "NiftyCreateDhcpStaticMappingRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "DhcpConfigId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "MacAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "IpAddress",
        "MacAddress"
      ]
    },
    "NiftyCreateInstanceSnapshotRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "SnapshotName": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "SnapshotName"
      ]
    },
    "NiftyCreateNatRuleRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "Destination": {
          "shape": "DestinationStruct"
        },
        "InboundInterface": {
          "shape": "InboundInterfaceStruct"
        },
        "NatTableId": {
          "shape": "String"
        },
        "NatType": {
          "shape": "String"
        },
        "OutboundInterface": {
          "shape": "OutboundInterfaceStruct"
        },
        "Protocol": {
          "shape": "String"
        },
        "RuleNumber": {
          "shape": "String"
        },
        "Source": {
          "shape": "SourceStruct"
        },
        "Translation": {
          "shape": "TranslationStruct"
        }
      },
      "required": [
        "NatTableId",
        "NatType",
        "RuleNumber",
        "Protocol"
      ]
    },
    "NiftyCreateNatTableRequest": {
      "type": "structure"
    },
    "NiftyCreatePrivateLanRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "CidrBlock": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "PrivateLanName": {
          "shape": "String"
        }
      },
      "required": [
        "CidrBlock"
      ]
    },
    "NiftyCreateRouterRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "NetworkInterfaceList": {
          "shape": "NetworkInterfaceList"
        },
        "RouterName": {
          "shape": "String"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        },
        "Type": {
          "shape": "String"
        }
      }
    },
    "NiftyCreateWebProxyRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "BypassInterface": {
          "shape": "BypassInterfaceStruct"
        },
        "Description": {
          "shape": "String"
        },
        "ListenInterface": {
          "shape": "ListenInterfaceStruct"
        },
        "ListenPort": {
          "shape": "String"
        },
        "Option": {
          "shape": "OptionStruct"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "ListenPort"
      ]
    },
    "NiftyCustomerGatewayNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "NiftyDeleteAlarmRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "RuleName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteAutoScalingGroupRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "shape": "String"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ]
    },
    "NiftyDeleteDhcpConfigRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId"
      ]
    },
    "NiftyDeleteDhcpIpAddressPoolRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "StartIpAddress": {
          "shape": "String"
        },
        "StopIpAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "StartIpAddress",
        "StopIpAddress"
      ]
    },
    "NiftyDeleteDhcpStaticMappingRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "MacAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "IpAddress",
        "MacAddress"
      ]
    },
    "NiftyDeleteInstanceSnapshotRequest": {
      "type": "structure",
      "members": {
        "InstanceSnapshotIdList": {
          "shape": "InstanceSnapshotIdList"
        },
        "SnapshotNameList": {
          "shape": "SnapshotNameList"
        }
      }
    },
    "NiftyDeleteNatRuleRequest": {
      "type": "structure",
      "members": {
        "NatTableId": {
          "shape": "String"
        },
        "NatType": {
          "shape": "String"
        },
        "RuleNumber": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId",
        "NatType",
        "RuleNumber"
      ]
    },
    "NiftyDeleteNatTableRequest": {
      "type": "structure",
      "members": {
        "NatTableId": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId"
      ]
    },
    "NiftyDeletePrivateLanRequest": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "String"
        },
        "PrivateLanName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteRouterRequest": {
      "type": "structure",
      "members": {
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteWebProxyRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "RouterSetList": {
          "shape": "RouterSetList"
        }
      },
      "required": [
        "GroupName"
      ]
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "RouterSetList": {
          "shape": "RouterSetList"
        }
      },
      "required": [
        "GroupName"
      ]
    },
    "NiftyDescribeAlarmHistoryRequest": {
      "type": "structure",
      "members": {
        "RuleList": {
          "shape": "RuleList"
        }
      }
    },
    "NiftyDescribeAlarmRulesActivitiesRequest": {
      "type": "structure",
      "members": {
        "RuleList": {
          "shape": "RuleList"
        }
      }
    },
    "NiftyDescribeAlarmsPartitionsRequest": {
      "type": "structure",
      "members": {
        "InstanceIdList": {
          "shape": "InstanceIdList"
        }
      }
    },
    "NiftyDescribeAlarmsRequest": {
      "type": "structure",
      "members": {
        "RuleList": {
          "shape": "RuleList"
        }
      }
    },
    "NiftyDescribeAutoScalingGroupsRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupNameList": {
          "shape": "AutoScalingGroupNameList"
        }
      }
    },
    "NiftyDescribeCorporateInfoForCertificateRequest": {
      "type": "structure"
    },
    "NiftyDescribeDhcpConfigsRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "FilterList": {
          "shape": "FilterList"
        }
      }
    },
    "NiftyDescribeDhcpStatusRequest": {
      "type": "structure",
      "members": {
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeInstanceSnapshotsRequest": {
      "type": "structure",
      "members": {
        "InstanceSnapshotIdList": {
          "shape": "InstanceSnapshotIdList"
        },
        "SnapshotNameList": {
          "shape": "SnapshotNameList"
        }
      }
    },
    "NiftyDescribeNatTablesRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "NatTableIdList": {
          "shape": "NatTableIdList"
        }
      }
    },
    "NiftyDescribePerformanceChartRequest": {
      "type": "structure",
      "members": {
        "DataTypeList": {
          "shape": "DataTypeList"
        },
        "FromDate": {
          "shape": "String"
        },
        "FunctionName": {
          "shape": "String"
        },
        "ResourceNameList": {
          "shape": "ResourceNameList"
        },
        "ToDate": {
          "shape": "String"
        },
        "ValueType": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "ResourceNameList"
      ]
    },
    "NiftyDescribePrivateLansRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "NetworkIdList": {
          "shape": "NetworkIdList"
        },
        "PrivateLanNameList": {
          "shape": "PrivateLanNameList"
        }
      }
    },
    "NiftyDescribeRoutersRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "RouterIdList": {
          "shape": "RouterIdList"
        },
        "RouterNameList": {
          "shape": "RouterNameList"
        }
      }
    },
    "NiftyDescribeScalingActivitiesRequest": {
      "type": "structure",
      "members": {
        "ActivityDateFrom": {
          "shape": "String"
        },
        "ActivityDateTo": {
          "shape": "String"
        },
        "AutoScalingGroupName": {
          "shape": "String"
        },
        "Range": {
          "shape": "RangeStruct"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ]
    },
    "NiftyDescribeVpnGatewayActivitiesRequest": {
      "type": "structure",
      "members": {
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeWebProxiesRequest": {
      "type": "structure",
      "members": {
        "FilterList": {
          "shape": "FilterList"
        },
        "RouterIdList": {
          "shape": "RouterIdList"
        },
        "RouterNameList": {
          "shape": "RouterNameList"
        }
      }
    },
    "NiftyDisableDhcpRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
[...]
