{
  "version": "",
  "metadata": {
    "apiVersion": "2.2",
    "endpointPrefix": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "computing",
    "signatureVersion": "v2",
    "xmlNamespace": "http://dummy",
    "protocol": "query"
  },
  "operations": {
    "AllocateAddress": {
      "name": "AllocateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "output": null
    },
    "AssociateAddress": {
      "name": "AssociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "output": null
    },
    "AssociateRouteTable": {
      "name": "AssociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "output": null
    },
    "AssociateUsers": {
      "name": "AssociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "output": null
    },
    "AttachVolume": {
      "name": "AttachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "output": null
    },
    "AuthorizeSecurityGroupIngress": {
      "name": "AuthorizeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "output": null
    },
    "CancelCopyInstances": {
      "name": "CancelCopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "output": null
    },
    "CancelUpload": {
      "name": "CancelUpload",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "output": null
    },
    "ClearLoadBalancerSession": {
      "name": "ClearLoadBalancerSession",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "output": null
    },
    "ConfigureHealthCheck": {
      "name": "ConfigureHealthCheck",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "output": null
    },
    "CopyInstances": {
      "name": "CopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "output": null
    },
    "CreateCustomerGateway": {
      "name": "CreateCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "output": null
    },
    "CreateDhcpOptions": {
      "name": "CreateDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "output": null
    },
    "CreateImage": {
      "name": "CreateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "output": null
    },
    "CreateKeyPair": {
      "name": "CreateKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "output": null
    },
    "CreateLoadBalancer": {
      "name": "CreateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "output": null
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "output": null
    },
    "CreateRouteTable": {
      "name": "CreateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "output": null
    },
    "CreateSecurityGroup": {
      "name": "CreateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "output": null
    },
    "CreateSslCertificate": {
      "name": "CreateSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "output": null
    },
    "CreateVolume": {
      "name": "CreateVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "output": null
    },
    "CreateVpnConnection": {
      "name": "CreateVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "output": null
    },
    "CreateVpnGateway": {
      "name": "CreateVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "output": null
    },
    "DeleteCustomerGateway": {
      "name": "DeleteCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "output": null
    },
    "DeleteDhcpOptions": {
      "name": "DeleteDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "output": null
    },
    "DeleteImage": {
      "name": "DeleteImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "output": null
    },
    "DeleteKeyPair": {
      "name": "DeleteKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "output": null
    },
    "DeleteLoadBalancer": {
      "name": "DeleteLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "output": null
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "output": null
    },
    "DeleteRouteTable": {
      "name": "DeleteRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "output": null
    },
    "DeleteSecurityGroup": {
      "name": "DeleteSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "output": null
    },
    "DeleteSslCertificate": {
      "name": "DeleteSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "output": null
    },
    "DeleteVolume": {
      "name": "DeleteVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "output": null
    },
    "DeleteVpnConnection": {
      "name": "DeleteVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "output": null
    },
    "DeleteVpnGateway": {
      "name": "DeleteVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "output": null
    },
    "DeregisterInstancesFromLoadBalancer": {
      "name": "DeregisterInstancesFromLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "output": null
    },
    "DeregisterInstancesFromSecurityGroup": {
      "name": "DeregisterInstancesFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "output": null
    },
    "DescribeAddresses": {
      "name": "DescribeAddresses",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "output": null
    },
    "DescribeAssociatedUsers": {
      "name": "DescribeAssociatedUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "output": null
    },
    "DescribeAvailabilityZones": {
      "name": "DescribeAvailabilityZones",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "output": null
    },
    "DescribeCustomerGateways": {
      "name": "DescribeCustomerGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "output": null
    },
    "DescribeDhcpOptions": {
      "name": "DescribeDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "output": null
    },
    "DescribeImages": {
      "name": "DescribeImages",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "output": null
    },
    "DescribeInstanceAttribute": {
      "name": "DescribeInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "output": null
    },
    "DescribeInstanceHealth": {
      "name": "DescribeInstanceHealth",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "output": null
    },
    "DescribeInstances": {
      "name": "DescribeInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "output": null
    },
    "DescribeKeyPairs": {
      "name": "DescribeKeyPairs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "output": null
    },
    "DescribeLoadBalancers": {
      "name": "DescribeLoadBalancers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "output": null
    },
    "DescribeRegions": {
      "name": "DescribeRegions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "output": null
    },
    "DescribeResources": {
      "name": "DescribeResources",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "output": null
    },
    "DescribeRouteTables": {
      "name": "DescribeRouteTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "output": null
    },
    "DescribeSecurityActivities": {
      "name": "DescribeSecurityActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "output": null
    },
    "DescribeSecurityGroupOption": {
      "name": "DescribeSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupOptionRequest"
      },
      "output": null
    },
    "DescribeSecurityGroups": {
      "name": "DescribeSecurityGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "output": null
    },
    "DescribeServiceStatus": {
      "name": "DescribeServiceStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "output": null
    },
    "DescribeSslCertificateAttribute": {
      "name": "DescribeSslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "output": null
    },
    "DescribeSslCertificates": {
      "name": "DescribeSslCertificates",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "output": null
    },
    "DescribeUploads": {
      "name": "DescribeUploads",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "output": null
    },
    "DescribeUsage": {
      "name": "DescribeUsage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "output": null
    },
    "DescribeUserActivities": {
      "name": "DescribeUserActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "output": null
    },
    "DescribeVolumes": {
      "name": "DescribeVolumes",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "output": null
    },
    "DescribeVpnConnections": {
      "name": "DescribeVpnConnections",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "output": null
    },
    "DescribeVpnGateways": {
      "name": "DescribeVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "output": null
    },
    "DetachVolume": {
      "name": "DetachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "output": null
    },
    "DisassociateAddress": {
      "name": "DisassociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "output": null
    },
    "DisassociateRouteTable": {
      "name": "DisassociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "output": null
    },
    "DissociateUsers": {
      "name": "DissociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "output": null
    },
    "DownloadSslCertificate": {
      "name": "DownloadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "output": null
    },
    "ImportInstance": {
      "name": "ImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "output": null
    },
    "ImportKeyPair": {
      "name": "ImportKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "output": null
    },
    "ModifyImageAttribute": {
      "name": "ModifyImageAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "output": null
    },
    "ModifyInstanceAttribute": {
      "name": "ModifyInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "output": null
    },
    "ModifySslCertificateAttribute": {
      "name": "ModifySslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "output": null
    },
    "ModifyVolumeAttribute": {
      "name": "ModifyVolumeAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "output": null
    },
    "NiftyAssociateImage": {
      "name": "NiftyAssociateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "output": null
    },
    "NiftyAssociateNatTable": {
      "name": "NiftyAssociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "output": null
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyCreateAlarm": {
      "name": "NiftyCreateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "output": null
    },
    "NiftyCreateAutoScalingGroup": {
      "name": "NiftyCreateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpConfig": {
      "name": "NiftyCreateDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpIpAddressPool": {
      "name": "NiftyCreateDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "output": null
    },
    "NiftyCreateDhcpStaticMapping": {
      "name": "NiftyCreateDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "output": null
    },
    "NiftyCreateInstanceSnapshot": {
      "name": "NiftyCreateInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyCreateNatRule": {
      "name": "NiftyCreateNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "output": null
    },
    "NiftyCreateNatTable": {
      "name": "NiftyCreateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "output": null
    },
    "NiftyCreatePrivateLan": {
      "name": "NiftyCreatePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "output": null
    },
    "NiftyCreateRouter": {
      "name": "NiftyCreateRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "output": null
    },
    "NiftyCreateWebProxy": {
      "name": "NiftyCreateWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "output": null
    },
    "NiftyDeleteAlarm": {
      "name": "NiftyDeleteAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "output": null
    },
    "NiftyDeleteAutoScalingGroup": {
      "name": "NiftyDeleteAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpConfig": {
      "name": "NiftyDeleteDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "name": "NiftyDeleteDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "output": null
    },
    "NiftyDeleteDhcpStaticMapping": {
      "name": "NiftyDeleteDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "output": null
    },
    "NiftyDeleteInstanceSnapshot": {
      "name": "NiftyDeleteInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyDeleteNatRule": {
      "name": "NiftyDeleteNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "output": null
    },
    "NiftyDeleteNatTable": {
      "name": "NiftyDeleteNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "output": null
    },
    "NiftyDeletePrivateLan": {
      "name": "NiftyDeletePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "output": null
    },
    "NiftyDeleteRouter": {
      "name": "NiftyDeleteRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "output": null
    },
    "NiftyDeleteWebProxy": {
      "name": "NiftyDeleteWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "output": null
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmHistory": {
      "name": "NiftyDescribeAlarmHistory",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmRulesActivities": {
      "name": "NiftyDescribeAlarmRulesActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarms": {
      "name": "NiftyDescribeAlarms",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "output": null
    },
    "NiftyDescribeAlarmsPartitions": {
      "name": "NiftyDescribeAlarmsPartitions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "output": null
    },
    "NiftyDescribeAutoScalingGroups": {
      "name": "NiftyDescribeAutoScalingGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "output": null
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "output": null
    },
    "NiftyDescribeDhcpConfigs": {
      "name": "NiftyDescribeDhcpConfigs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "output": null
    },
    "NiftyDescribeDhcpStatus": {
      "name": "NiftyDescribeDhcpStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "output": null
    },
    "NiftyDescribeInstanceSnapshots": {
      "name": "NiftyDescribeInstanceSnapshots",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "output": null
    },
    "NiftyDescribeNatTables": {
      "name": "NiftyDescribeNatTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "output": null
    },
    "NiftyDescribePerformanceChart": {
      "name": "NiftyDescribePerformanceChart",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "output": null
    },
    "NiftyDescribePrivateLans": {
      "name": "NiftyDescribePrivateLans",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "output": null
    },
    "NiftyDescribeRouters": {
      "name": "NiftyDescribeRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "output": null
    },
    "NiftyDescribeScalingActivities": {
      "name": "NiftyDescribeScalingActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeVpnGatewayActivities": {
      "name": "NiftyDescribeVpnGatewayActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "output": null
    },
    "NiftyDescribeWebProxies": {
      "name": "NiftyDescribeWebProxies",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "output": null
    },
    "NiftyDisableDhcp": {
      "name": "NiftyDisableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "output": null
    },
    "NiftyDisassociateNatTable": {
      "name": "NiftyDisassociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "output": null
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyEnableDhcp": {
      "name": "NiftyEnableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "output": null
    },
    "NiftyModifyAddressAttribute": {
      "name": "NiftyModifyAddressAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "name": "NiftyModifyCustomerGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyKeyPairAttribute": {
      "name": "NiftyModifyKeyPairAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyPrivateLanAttribute": {
      "name": "NiftyModifyPrivateLanAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyRouterAttribute": {
      "name": "NiftyModifyRouterAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyVpnGatewayAttribute": {
      "name": "NiftyModifyVpnGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "output": null
    },
    "NiftyModifyWebProxyAttribute": {
      "name": "NiftyModifyWebProxyAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "output": null
    },
    "NiftyRebootRouters": {
      "name": "NiftyRebootRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "output": null
    },
    "NiftyRebootVpnGateways": {
      "name": "NiftyRebootVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "output": null
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "output": null
    },
    "NiftyReleaseRouterBackupState": {
      "name": "NiftyReleaseRouterBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "output": null
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "name": "NiftyReleaseVpnGatewayBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "output": null
    },
    "NiftyReplaceDhcpConfig": {
      "name": "NiftyReplaceDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpConfigRequest"
      },
      "output": null
    },
    "NiftyReplaceDhcpOption": {
      "name": "NiftyReplaceDhcpOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpOptionRequest"
      },
      "output": null
    },
    "NiftyReplaceNatRule": {
      "name": "NiftyReplaceNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatRuleRequest"
      },
      "output": null
    },
    "NiftyReplaceNatTableAssociation": {
      "name": "NiftyReplaceNatTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatTableAssociationRequest"
      },
      "output": null
    },
    "NiftyReplaceRouteTableAssociationWithVpnGateway": {
      "name": "NiftyReplaceRouteTableAssociationWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayRequest"
      },
      "output": null
    },
    "NiftyReplaceRouterLatestVersion": {
      "name": "NiftyReplaceRouterLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouterLatestVersionRequest"
      },
      "output": null
    },
    "NiftyReplaceVpnGatewayLatestVersion": {
      "name": "NiftyReplaceVpnGatewayLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionRequest"
      },
      "output": null
    },
    "NiftyRestoreInstanceSnapshot": {
      "name": "NiftyRestoreInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreInstanceSnapshotRequest"
      },
      "output": null
    },
    "NiftyRestoreRouterPreviousVersion": {
      "name": "NiftyRestoreRouterPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreRouterPreviousVersionRequest"
      },
      "output": null
    },
    "NiftyRestoreVpnGatewayPreviousVersion": {
      "name": "NiftyRestoreVpnGatewayPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionRequest"
      },
      "output": null
    },
    "NiftyRetryImportInstance": {
      "name": "NiftyRetryImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRetryImportInstanceRequest"
      },
      "output": null
    },
    "NiftyUpdateAlarm": {
      "name": "NiftyUpdateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAlarmRequest"
      },
      "output": null
    },
    "NiftyUpdateAutoScalingGroup": {
      "name": "NiftyUpdateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAutoScalingGroupRequest"
      },
      "output": null
    },
    "NiftyUpdateInstanceNetworkInterfaces": {
      "name": "NiftyUpdateInstanceNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesRequest"
      },
      "output": null
    },
    "NiftyUpdateRouterNetworkInterfaces": {
      "name": "NiftyUpdateRouterNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateRouterNetworkInterfacesRequest"
      },
      "output": null
    },
    "NiftyUpdateVpnGatewayNetworkInterfaces": {
      "name": "NiftyUpdateVpnGatewayNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesRequest"
      },
      "output": null
    },
    "RebootInstances": {
      "name": "RebootInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RebootInstancesRequest"
      },
      "output": null
    },
    "RegisterCorporateInfoForCertificate": {
      "name": "RegisterCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterCorporateInfoForCertificateRequest"
      },
      "output": null
    },
    "RegisterInstancesWithLoadBalancer": {
      "name": "RegisterInstancesWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithLoadBalancerRequest"
      },
      "output": null
    },
    "RegisterInstancesWithSecurityGroup": {
      "name": "RegisterInstancesWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithSecurityGroupRequest"
      },
      "output": null
    },
    "RegisterPortWithLoadBalancer": {
      "name": "RegisterPortWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterPortWithLoadBalancerRequest"
      },
      "output": null
    },
    "ReleaseAddress": {
      "name": "ReleaseAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReleaseAddressRequest"
      },
      "output": null
    },
    "ReplaceRoute": {
      "name": "ReplaceRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteRequest"
      },
      "output": null
    },
    "ReplaceRouteTableAssociation": {
      "name": "ReplaceRouteTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteTableAssociationRequest"
      },
      "output": null
    },
    "RevokeSecurityGroupIngress": {
      "name": "RevokeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RevokeSecurityGroupIngressRequest"
      },
      "output": null
    },
    "RunInstances": {
      "name": "RunInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RunInstancesRequest"
      },
      "output": null
    },
    "SetFilterForLoadBalancer": {
      "name": "SetFilterForLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "SetFilterForLoadBalancerRequest"
      },
      "output": null
    },
    "StartInstances": {
      "name": "StartInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StartInstancesRequest"
      },
      "output": null
    },
    "StopInstances": {
      "name": "StopInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StopInstancesRequest"
      },
      "output": null
    },
    "TerminateInstances": {
      "name": "TerminateInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "TerminateInstancesRequest"
      },
      "output": null
    },
    "UpdateLoadBalancer": {
      "name": "UpdateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerRequest"
      },
      "output": null
    },
    "UpdateLoadBalancerOption": {
      "name": "UpdateLoadBalancerOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerOptionRequest"
      },
      "output": null
    },
    "UpdateSecurityGroup": {
      "name": "UpdateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupRequest"
      },
      "output": null
    },
    "UpdateSecurityGroupOption": {
      "name": "UpdateSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupOptionRequest"
      },
      "output": null
    },
    "UploadSslCertificate": {
      "name": "UploadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UploadSslCertificateRequest"
      },
      "output": null
    }
  },
  "shapes": {
    "\t\t\t\t\t\t\t\tvalue": {
      "type": "string"
    },
    "\n\t\t\t\t\t\t\t\tattachTime": {
      "type": "timestamp"
    },
    "\n\t\t\t\t\t\t\t\tgroupName": {
      "type": "string"
    },
    "\n\t\t\t\t\t\t\t\tinstanceId": {
      "type": "string"
    },
    "\n\t\t\t\t\t\t\t\tlog": {
      "type": "string"
    },
    "\n\t\t\t\t\t\t\t\trequestId": {
      "type": "string"
    },
    "\n\t\t\t\t\t\t\t\treturn": {
      "type": "boolean"
    },
    "\n\t\t\t\t\t\t\t\tuserId": {
      "type": "string"
    },
    " instanceId": {
      "type": "string"
    },
    " requestId": {
      "type": "string"
    },
    "AccountingType": {
      "type": "string"
    },
    "AllocateAddressRequest": {
      "type": "structure",
      "members": {
        "Domain": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NiftyPrivateIp": {
          "shape": "Boolean"
        },
        "Placement.AvailabilityZone": {
          "shape": "String"
        }
      }
    },
    "AssociateAddressRequest": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "shape": "String"
        },
        "AllowReassociation": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId"
      ]
    },
    "AssociateRouteTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        },
        "SubnetId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "AssociateUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "Users.member.n.UserId": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "Users.member.n.UserId"
      ]
    },
    "AttachVolumeRequest": {
      "type": "structure",
      "members": {
        "Device": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "AuthorizeSecurityGroupIngressRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tGroupName": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.Description": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.FromPort": {
          "shape": "Integer"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.Groups.\n\t\t\t\t\t\t\t\t\tm.GroupName": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.Groups.\n\t\t\t\t\t\t\t\t\tm.UserId": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.InOut": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.IpProtocol": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.IpRanges.\n\t\t\t\t\t\t\t\t\tm.CidrIp": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tIpPermissions.n.ToPort": {
          "shape": "Integer"
        },
        "\n\t\t\t\t\t\t\t\tUserId": {
          "shape": "String"
        }
      }
    },
    "BalancingType": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelCopyInstancesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "shape": "String"
        }
      }
    },
    "CancelUploadRequest": {
      "type": "structure",
      "members": {
        "ConversionTaskId": {
          "shape": "String"
        }
      },
      "required": [
        "ConversionTaskId"
      ]
    },
    "ClearLoadBalancerSessionRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "ConfigureHealthCheckRequest": {
      "type": "structure",
      "members": {
        "HealthCheck.HealthyThreshold": {
          "shape": "Integer"
        },
        "HealthCheck.Interval": {
          "shape": "Integer"
        },
        "HealthCheck.Target": {
          "shape": "String"
        },
        "HealthCheck.Timeout": {
          "shape": "Integer"
        },
        "HealthCheck.UnhealthyThreshold": {
          "shape": "Integer"
        },
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort",
        "HealthCheck.Target",
        "HealthCheck.Interval",
        "HealthCheck.UnhealthyThreshold"
      ]
    },
    "CookieExpirationPeriod": {
      "type": "string"
    },
    "CookieName": {
      "type": "string"
    },
    "CopyInstancesRequest": {
      "type": "structure",
      "members": {
        "CopyCount": {
          "shape": "Integer"
        },
        "CopyInstance.AccountingType": {
          "shape": "String"
        },
        "CopyInstance.InstanceName": {
          "shape": "String"
        },
        "CopyInstance.InstanceType": {
          "shape": "String"
        },
        "CopyInstance.IpType": {
          "shape": "String"
        },
        "CopyInstance.LoadBalancers.n.InstancePort": {
          "shape": "Integer"
        },
        "CopyInstance.LoadBalancers.n.LoadBalancerName": {
          "shape": "String"
        },
        "CopyInstance.LoadBalancers.n.LoadBalancerPort": {
          "shape": "Integer"
        },
        "CopyInstance.Placement.AvailabilityZone": {
          "shape": "String"
        },
        "CopyInstance.Placement.RegionName": {
          "shape": "String"
        },
        "CopyInstance.SecurityGroup.n": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterface.n.DeviceIndex": {
          "shape": "Integer"
        },
        "NetworkInterface.n.IpAddress": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkId": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkName": {
          "shape": "String"
        },
        "NetworkInterface.n.SecurityGroupId.n": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "CopyInstance.InstanceName"
      ]
    },
    "CreateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "BgpAsn": {
          "shape": "Integer"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NiftyCustomerGatewayDescription": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyLanSideCidrBlock": {
          "shape": "String"
        },
        "NiftyLanSideIpAddress": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "required": [
        "IpAddress"
      ]
    },
    "CreateDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpConfiguration.n.Key": {
          "shape": "String"
        },
        "DhcpConfiguration.n.Value.m": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfiguration.n.Key",
        "DhcpConfiguration.n.Value.m"
      ]
    },
    "CreateImageRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "LeftInstance": {
          "shape": "Boolean"
        },
        "Name": {
          "shape": "String"
        },
        "NoReboot": {
          "shape": "Boolean"
        },
        "Placement.AvailabilityZone": {
          "shape": "String"
        },
        "Placement.RegionName": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "Name"
      ]
    },
    "CreateKeyPairRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "KeyName": {
          "shape": "String"
        },
        "Password": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName",
        "Password"
      ]
    },
    "CreateLoadBalancerRequest": {
      "type": "structure",
      "members": {
        " Listeners.member.n.\n                BalancingType": {
          "shape": "String"
        },
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZones .member.n": {
          "shape": "String"
        },
        "IpVersion": {
          "shape": "String"
        },
        "Listeners.member.n.\n                InstancePort": {
          "shape": "Integer"
        },
        "Listeners.member.n.\n                LoadBalancerPort": {
          "shape": "Integer"
        },
        "Listeners.member.n.  Protocol": {
          "shape": "String"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "NetworkVolume": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName"
      ]
    },
    "CreateRouteRequest": {
      "type": "structure",
      "members": {
        "DestinationCidrBlock": {
          "shape": "String"
        },
        "GatewayId": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NetworkId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NetworkName": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "VpcPeeringConnectionId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ]
    },
    "CreateRouteTableRequest": {
      "type": "structure",
      "members": {
        "VpcId": {
          "shape": "String"
        }
      }
    },
    "CreateSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tGroupDescription": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tGroupName": {
          "shape": "String"
        },
        "Placement.AvailabilityZone": {
          "shape": "String"
        }
      }
    },
    "CreateSslCertificateRequest": {
      "type": "structure",
      "members": {
        "ApproverEmailAddress": {
          "shape": "String"
        },
        "CertAuthority": {
          "shape": "Integer"
        },
        "CertInfo.CountryName": {
          "shape": "String"
        },
        "CertInfo.EmailAddress": {
          "shape": "String"
        },
        "CertInfo.LocationName": {
          "shape": "String"
        },
        "CertInfo.OrganizationName": {
          "shape": "String"
        },
        "CertInfo.OrganizationUnitName": {
          "shape": "String"
        },
        "CertInfo.StateName": {
          "shape": "String"
        },
        "Count": {
          "shape": "Integer"
        },
        "Fqdn": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        },
        "KeyLength": {
          "shape": "Integer"
        },
        "ValidityTerm": {
          "shape": "Integer"
        }
      }
    },
    "CreateVolumeRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "DiskType": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "Size": {
          "shape": "String"
        },
        "SnapshotId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "CreateVpnConnectionRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyIPsecConfiguration.EncryptionAlgorithm": {
          "shape": "String"
        },
        "NiftyIPsecConfiguration.HashAlgorithm": {
          "shape": "String"
        },
        "NiftyIPsecConfiguration.PreSharedKey": {
          "shape": "String"
        },
        "NiftyIpsecConfiguration.InternetKeyExchange": {
          "shape": "String"
        },
        "NiftyRemoteVpn.AccountName": {
          "shape": "Boolean"
        },
        "NiftyRemoteVpn.Password": {
          "shape": "String"
        },
        "NiftyTunnel.DestinationPort": {
          "shape": "String"
        },
        "NiftyTunnel.Encapsulation": {
          "shape": "String"
        },
        "NiftyTunnel.Mode": {
          "shape": "String"
        },
        "NiftyTunnel.PeerSessionId": {
          "shape": "String"
        },
        "NiftyTunnel.PeerTunnelId": {
          "shape": "String"
        },
        "NiftyTunnel.SessionId": {
          "shape": "String"
        },
        "NiftyTunnel.SourcePort": {
          "shape": "String"
        },
        "NiftyTunnel.TunnelId": {
          "shape": "String"
        },
        "NiftyTunnel.Type": {
          "shape": "String"
        },
        "NiftyVpnConnectionDescription": {
          "shape": "String"
        },
        "NiftyVpnConnectionMtu": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "Options.NiftyIpIpTunnel": {
          "shape": "String"
        },
        "Options.StaticRoutesOnly": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      },
      "required": [
        "Type",
        "VpnGatewayId"
      ]
    },
    "CreateVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "NiftyNetwork.IpAddress": {
          "shape": "String"
        },
        "NiftyNetwork.NetworkId": {
          "shape": "String"
        },
        "NiftyNetwork.NetworkName": {
          "shape": "String"
        },
        "NiftyRedundancy": {
          "shape": "Boolean"
        },
        "NiftyVpnGatewayDescription": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "NiftyVpnGatewayType": {
          "shape": "String"
        },
        "Placement.AvailabilityZone": {
          "shape": "String"
        },
        "SecurityGroup.n": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      }
    },
    "CreatedTime": {
      "type": "timestamp"
    },
    "DNSName": {
      "type": "string"
    },
    "DeleteCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        }
      }
    },
    "DeleteDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpOptionsId": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpOptionsId"
      ]
    },
    "DeleteImageRequest": {
      "type": "structure",
      "members": {
        "ImageId": {
          "shape": "String"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "DeleteKeyPairRequest": {
      "type": "structure",
      "members": {
        "KeyName": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName"
      ]
    },
    "DeleteLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "DeleteRouteRequest": {
      "type": "structure",
      "members": {
        "DestinationCidrBlock": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ]
    },
    "DeleteRouteTableRequest": {
      "type": "structure",
      "members": {
        "RouteTableId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "DeleteSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tGroupName": {
          "shape": "String"
        }
      }
    },
    "DeleteSslCertificateRequest": {
      "type": "structure",
      "members": {
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "DeleteVolumeRequest": {
      "type": "structure",
      "members": {
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "DeleteVpnConnectionRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "VpnConnectionId": {
          "shape": "String"
        }
      },
      "required": [
        "VpnConnectionId"
      ]
    },
    "DeleteVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      }
    },
    "DeregisterInstancesFromLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "Instances.member.n.InstanceId": {
          "shape": "String"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort",
        "Instances.member.n.InstanceId"
      ]
    },
    "DeregisterInstancesFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tGroupName": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tInstanceId.n": {
          "shape": "String"
        }
      }
    },
    "DescribeAddressesRequest": {
      "type": "structure",
      "members": {
        "PublicIp.n": {
          "shape": "String"
        }
      }
    },
    "DescribeAssociatedUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName"
      ]
    },
    "DescribeAvailabilityZonesRequest": {
      "type": "structure",
      "members": {
        "ZoneName.n": {
          "shape": "String"
        }
      }
    },
    "DescribeCustomerGatewaysRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayId.n": {
          "shape": "String"
        },
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName.n": {
          "shape": "String"
        }
      }
    },
    "DescribeDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DescribeDhcpOptionsResponse": {
          "shape": "String"
        },
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        }
      }
    },
    "DescribeImagesRequest": {
      "type": "structure",
      "members": {
        "ExecutableBy.n": {
          "shape": "String"
        },
        "ImageId.n": {
          "shape": "String"
        },
        "ImageName.n": {
          "shape": "String"
        },
        "Owner.n": {
          "shape": "String"
        }
      }
    },
    "DescribeInstanceAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        }
      }
    },
    "DescribeInstanceHealthRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tInstances.member.n.\nInstanceId": {
          "shape": "String"
        },
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "DescribeInstancesRequest": {
      "type": "structure",
      "members": {
        "InstanceId.n": {
          "shape": "String"
        },
        "Tenancy.n": {
          "shape": "String"
        }
      }
    },
    "DescribeKeyPairsRequest": {
      "type": "structure",
      "members": {
        "KeyName.n": {
          "shape": "String"
        }
      }
    },
    "DescribeLoadBalancersRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tLoadBalancerNames.LoadBalancerPort.n": {
          "shape": "Integer"
        },
        "LoadBalancerNames.InstancePort.n": {
          "shape": "Integer"
        },
        "LoadBalancerNames.member.n": {
          "shape": "String"
        }
      }
    },
    "DescribeRegionsRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "RegionName.n": {
          "shape": "String"
        }
      }
    },
    "DescribeResourcesRequest": {
      "type": "structure"
    },
    "DescribeRouteTablesRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "RouteTableId .n": {
          "shape": "String"
        }
      }
    },
    "DescribeSecurityActivitiesRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tActivityDate": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tGroupName": {
          "shape": "String"
        },
        "\n\t\t\t\t\t\t\t\tRange.All": {
          "shape": "Boolean"
        },
        "\n\t\t\t\t\t\t\t\tRange.EndNumber": {
          "shape": "Integer"
        },
        "\n\t\t\t\t\t\t\t\tRange.StartNumber": {
          "shape": "Integer"
        }
      }
    },
    "DescribeSecurityGroupOptionRequest": {
      "type": "structure"
    },
    "DescribeSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "GroupName.n": {
          "shape": "String"
        }
      }
    },
    "DescribeServiceStatusRequest": {
      "type": "structure",
      "members": {
        "FromDate": {
          "shape": "String"
        },
        "ToDate": {
          "shape": "String"
        }
      }
    },
    "DescribeSslCertificateAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "DescribeSslCertificatesRequest": {
      "type": "structure",
      "members": {
        "\n\t\t\t\t\t\t\t\tFqdnId.n": {
          "shape": "String"
        },
        "Fqdn.n": {
          "shape": "String"
        }
      }
    },
    "DescribeUploadsRequest": {
      "type": "structure",
      "members": {
        "ConversionTaskId.n": {
          "shape": "String"
        }
      }
    },
    "DescribeUsageRequest": {
      "type": "structure",
      "members": {
        "IsCharge": {
          "shape": "Boolean"
        },
        "Region": {
          "shape": "String"
        },
        "YearMonth": {
          "shape": "String"
        }
      }
    },
    "DescribeUserActivitiesRequest": {
      "type": "structure",
      "members": {
        "Range.EndNumber": {
          "shape": "Integer"
        },
        "Range.StartNumber": {
          "shape": "Integer"
        },
        "YearMonth": {
          "shape": "String"
        }
      }
    },
    "DescribeVolumesRequest": {
      "type": "structure",
      "members": {
        "VolumeId.n": {
          "shape": "String"
        }
      }
    },
    "DescribeVpnConnectionsRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "VpnConnectionId.n": {
          "shape": "String"
        }
      }
    },
    "DescribeVpnGatewaysRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "NiftyVpnGatewayName.n": {
          "shape": "String"
        },
        "VpnGatewayId.n": {
          "shape": "String"
        }
      }
    },
    "Description": {
      "type": "string"
    },
    "DetachVolumeRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "Device": {
          "shape": "String"
        },
        "Force": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      },
      "required": [
        "VolumeId"
      ]
    },
    "DisassociateAddressRequest": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        }
      }
    },
    "DisassociateRouteTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "AssociationId": {
          "shape": "String"
        }
      },
      "required": [
        "AssociationId"
      ]
    },
    "DissociateUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "Users.member.n.UserId": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "Users.member.n.UserId"
      ]
    },
    "Double": {
      "type": "double"
    },
    "DownloadSslCertificateRequest": {
      "type": "structure",
      "members": {
        "FileType": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId",
        "FileType"
      ]
    },
    "Enabled": {
      "type": "boolean"
    },
    "ExpirationPeriod": {
      "type": "integer"
    },
    "FilterType": {
      "type": "string"
    },
    "HealthyThreshold": {
      "type": "integer"
    },
    "IPAddress": {
      "type": "string"
    },
    "ImportInstanceRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "Architecture": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "DiskImage.n.Description": {
          "shape": "String"
        },
        "DiskImage.n.Image.Bytes": {
          "shape": "Integer"
        },
        "DiskImage.n.Image.Format": {
          "shape": "String"
        },
        "DiskImage.n.Image.ImportManifestUrl": {
          "shape": "String"
        },
        "DiskImage.n.Volume.Size": {
          "shape": "Integer"
        },
        "InstanceId": {
          "shape": "String"
        },
        "InstanceInitiatedShutdownBehavior": {
          "shape": "String"
        },
        "InstanceType": {
          "shape": "String"
        },
        "IpType": {
          "shape": "String"
        },
        "Monitoring .Enabled": {
          "shape": "String"
        },
        "NetworkInterface.n.DeviceIndex": {
          "shape": "Integer"
        },
        "NetworkInterface.n.IpAddress": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkId": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkName": {
          "shape": "String"
        },
        "NetworkInterface.n.SecurityGroupId.n": {
          "shape": "String"
        },
        "Ovf": {
          "shape": "String"
        },
        "Placement.AvailabilityZone": {
          "shape": "String"
        },
        "Platform": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        },
        "SecurityGroup.n": {
          "shape": "String"
        },
        "SubnetId": {
          "shape": "String"
        },
        "UserData": {
          "shape": "String"
        }
      },
      "required": [
        "Ovf"
      ]
    },
    "ImportKeyPairRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "KeyName": {
          "shape": "String"
        },
        "PublicKeyMaterial": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName",
        "PublicKeyMaterial"
      ]
    },
    "InstanceId": {
      "type": "string"
    },
    "InstancePort": {
      "type": "integer"
    },
    "InstanceUniqueId": {
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "Interval": {
      "type": "integer"
    },
    "LoadBalancerName": {
      "type": "string"
    },
    "LoadBalancerPort": {
      "type": "integer"
    },
    "Memo": {
      "type": "string"
    },
    "ModifyImageAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "ImageId": {
          "shape": "String"
        },
        "LaunchPermission.Add.n.Group\n": {
          "shape": "String"
        },
        "LaunchPermission.Add.n.UserId": {
          "shape": "String"
        },
        "LaunchPermission.Remove.n.Group": {
          "shape": "String"
        },
        "LaunchPermission.Remove.n.UserId": {
          "shape": "String"
        },
        "ProductCode.n": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "ModifyInstanceAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "Force": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "Tenancy": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "Attribute",
        "Value"
      ]
    },
    "ModifySslCertificateAttributeRequest": {
      "type": "structure",
      "members": {
        "Description.Value": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        }
      },
      "required": [
        "FqdnId"
      ]
    },
    "ModifyVolumeAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      },
      "required": [
        "VolumeId"
      ]
    },
    "NetworkVolume": {
      "type": "integer"
    },
    "NextMonthAccountingType": {
      "type": "string"
    },
    "NiftyAssociateImageRequest": {
      "type": "structure",
      "members": {
        "DistributionId.n": {
          "shape": "String"
        },
        "ImageId": {
          "shape": "String"
        },
        "IsPublic": {
          "shape": "Boolean"
        },
        "IsRedistribute": {
          "shape": "Boolean"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "NiftyAssociateNatTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "NatTableId": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId"
      ]
    },
    "NiftyAssociateRouteTableWithVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "NiftyCreateAlarmRequest": {
      "type": "structure",
      "members": {
        "AlarmCondition": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "EmailAddress.l": {
          "shape": "String"
        },
        "FunctionName": {
          "shape": "String"
        },
        "InstanceId.n": {
          "shape": "String"
        },
        "LoadBalancerName.n": {
          "shape": "String"
        },
        "LoadBalancerPort.n": {
          "shape": "String"
        },
        "Partition.n": {
          "shape": "String"
        },
        "Rule.m.BreachDuration": {
          "shape": "Integer"
        },
        "Rule.m.DataType": {
          "shape": "String"
        },
        "Rule.m.Threshold": {
          "shape": "Double"
        },
        "Rule.m.UpperLowerCondition": {
          "shape": "String"
        },
        "RuleName": {
          "shape": "String"
        },
        "Zone": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "Rule.m.DataType",
        "Rule.m.BreachDuration",
        "EmailAddress.l"
      ]
    },
    "NiftyCreateAutoScalingGroupRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "shape": "String"
        },
        "ChangeInCapacity": {
          "shape": "Integer"
        },
        "DefaultCooldown": {
          "shape": "Integer"
        },
        "Description": {
          "shape": "String"
        },
        "ImageId": {
          "shape": "String"
        },
        "InstanceLifecycleLimit": {
          "shape": "Integer"
        },
        "InstanceType": {
          "shape": "String"
        },
        "LoadBalancers.n.InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancers.n.LoadBalancerPort": {
          "shape": "Integer"
        },
        "LoadBalancers.n.Name": {
          "shape": "String"
        },
        "MaxSize": {
          "shape": "Integer"
        },
        "MinSize": {
          "shape": "Integer"
        },
        "Scaleout": {
          "shape": "Integer"
        },
        "ScaleoutCondition": {
          "shape": "String"
        },
        "ScalingSchedule.n.DDay.EndingDDay": {
          "shape": "String"
        },
        "ScalingSchedule.n.DDay.StartingDDay": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetFriday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetMonday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetSaturday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetSunday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetThursday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetTuesday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Day.SetWednesday": {
          "shape": "String"
        },
        "ScalingSchedule.n.Month.EndingMonth": {
          "shape": "String"
        },
        "ScalingSchedule.n.Month.StartingMonth": {
          "shape": "String"
        },
        "ScalingSchedule.n.TimeZone.EndingTimeZone": {
          "shape": "String"
        },
        "ScalingSchedule.n.TimeZone.StartingTimeZone": {
          "shape": "String"
        },
        "ScalingTrigger.n.BreachDuration": {
          "shape": "Integer"
        },
        "ScalingTrigger.n.Resource": {
          "shape": "String"
        },
        "ScalingTrigger.n.UpperThreshold": {
          "shape": "Double"
        },
        "SecurityGroup.n": {
          "shape": "String"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ImageId",
        "ScalingTrigger.n.Resource",
        "ScalingTrigger.n.UpperThreshold",
        "ScaleoutCondition",
        "MinSize",
        "MaxSize",
        "ChangeInCapacity"
      ]
    },
    "NiftyCreateDhcpConfigRequest": {
      "type": "structure"
    },
    "NiftyCreateDhcpIpAddressPoolRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "DhcpConfigId": {
          "shape": "String"
        },
        "StartIpAddress": {
          "shape": "String"
        },
        "StopIpAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "StartIpAddress",
        "StopIpAddress"
      ]
    },
    "NiftyCreateDhcpStaticMappingRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "DhcpConfigId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "MacAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "IpAddress",
        "MacAddress"
      ]
    },
    "NiftyCreateInstanceSnapshotRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "SnapshotName": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId",
        "SnapshotName"
      ]
    },
    "NiftyCreateNatRuleRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "Destination.Port": {
          "shape": "Integer"
        },
        "InboundInterface.NetworkId": {
          "shape": "String"
        },
        "InboundInterface.NetworkName": {
          "shape": "String"
        },
        "NatTableId": {
          "shape": "String"
        },
        "NatType": {
          "shape": "String"
        },
        "OutboundInterface.NetworkId": {
          "shape": "String"
        },
        "OutboundInterface.NetworkName": {
          "shape": "String"
        },
        "Protocol": {
          "shape": "String"
        },
        "RuleNumber": {
          "shape": "String"
        },
        "Source.Address": {
          "shape": "String"
        },
        "Source.Port": {
          "shape": "Integer"
        },
        "Translation.Address": {
          "shape": "String"
        },
        "Translation.Port": {
          "shape": "Integer"
        }
      },
      "required": [
        "NatTableId",
        "NatType",
        "RuleNumber",
        "Protocol"
      ]
    },
    "NiftyCreateNatTableRequest": {
      "type": "structure"
    },
    "NiftyCreatePrivateLanRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "CidrBlock": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "PrivateLanName": {
          "shape": "String"
        }
      },
      "required": [
        "CidrBlock"
      ]
    },
    "NiftyCreateRouterRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "NetworkInterface.n.DeviceIndex": {
          "shape": "Integer"
        },
        "NetworkInterface.n.Dhcp": {
          "shape": "Boolean"
        },
        "NetworkInterface.n.DhcpConfigId": {
          "shape": "String"
        },
        "NetworkInterface.n.DhcpOptionsId": {
          "shape": "String"
        },
        "NetworkInterface.n.IpAddress": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkId": {
          "shape": "String"
        },
        "NetworkInterface.n.NetworkName": {
          "shape": "String"
        },
        "NetworkInterface.n.SecurityGroupId.n": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        },
        "SecurityGroup.n": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      }
    },
    "NiftyCreateWebProxyRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "BypassInterface.NetworkId": {
          "shape": "String"
        },
        "BypassInterface.NetworkName": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "ListenInterface.NetworkId": {
          "shape": "String"
        },
        "ListenInterface.NetworkName": {
          "shape": "String"
        },
        "ListenPort": {
          "shape": "String"
        },
        "Option.NameServer": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "ListenPort"
      ]
    },
    "NiftyDeleteAlarmRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "RuleName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteAutoScalingGroupRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "shape": "String"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ]
    },
    "NiftyDeleteDhcpConfigRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId"
      ]
    },
    "NiftyDeleteDhcpIpAddressPoolRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "StartIpAddress": {
          "shape": "String"
        },
        "StopIpAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "StartIpAddress",
        "StopIpAddress"
      ]
    },
    "NiftyDeleteDhcpStaticMappingRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "MacAddress": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpConfigId",
        "IpAddress",
        "MacAddress"
      ]
    },
    "NiftyDeleteInstanceSnapshotRequest": {
      "type": "structure",
      "members": {
        "InstanceSnapshotId.n": {
          "shape": "String"
        },
        "SnapshotName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteNatRuleRequest": {
      "type": "structure",
      "members": {
        "NatTableId": {
          "shape": "String"
        },
        "NatType": {
          "shape": "String"
        },
        "RuleNumber": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId",
        "NatType",
        "RuleNumber"
      ]
    },
    "NiftyDeleteNatTableRequest": {
      "type": "structure",
      "members": {
        "NatTableId": {
          "shape": "String"
        }
      },
      "required": [
        "NatTableId"
      ]
    },
    "NiftyDeletePrivateLanRequest": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "String"
        },
        "PrivateLanName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteRouterRequest": {
      "type": "structure",
      "members": {
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeleteWebProxyRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "RouterSet.n.RouterId": {
          "shape": "String"
        },
        "RouterSet.n.RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "GroupName"
      ]
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "RouterSet.n.RouterId": {
          "shape": "String"
        },
        "RouterSet.n.RouterName": {
          "shape": "String"
        }
      },
      "required": [
        "GroupName"
      ]
    },
    "NiftyDescribeAlarmHistoryRequest": {
      "type": "structure",
      "members": {
        "Rule.n.FromDate": {
          "shape": "String"
        },
        "Rule.n.FunctionName": {
          "shape": "String"
        },
        "Rule.n.RuleName": {
          "shape": "String"
        },
        "Rule.n.ToDate": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeAlarmRulesActivitiesRequest": {
      "type": "structure",
      "members": {
        "Rule.n.DataType": {
          "shape": "String"
        },
        "Rule.n.FromDate": {
          "shape": "String"
        },
        "Rule.n.FunctionName": {
          "shape": "String"
        },
        "Rule.n.RuleName": {
          "shape": "String"
        },
        "Rule.n.ToDate": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeAlarmsPartitionsRequest": {
      "type": "structure",
      "members": {
        "InstanceId.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeAlarmsRequest": {
      "type": "structure",
      "members": {
        "Rule.n.FunctionName": {
          "shape": "String"
        },
        "Rule.n.RuleName": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeAutoScalingGroupsRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeCorporateInfoForCertificateRequest": {
      "type": "structure"
    },
    "NiftyDescribeDhcpConfigsRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigId": {
          "shape": "String"
        },
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeDhcpStatusRequest": {
      "type": "structure",
      "members": {
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeInstanceSnapshotsRequest": {
      "type": "structure",
      "members": {
        "InstanceSnapshotId.n": {
          "shape": "String"
        },
        "SnapshotName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeNatTablesRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "NatTableId.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribePerformanceChartRequest": {
      "type": "structure",
      "members": {
        "DataType.n": {
          "shape": "String"
        },
        "FromDate": {
          "shape": "String"
        },
        "FunctionName": {
          "shape": "String"
        },
        "ResourceName.n": {
          "shape": "String"
        },
        "ToDate": {
          "shape": "String"
        },
        "ValueType": {
          "shape": "String"
        }
      },
      "required": [
        "FunctionName",
        "ResourceName.n"
      ]
    },
    "NiftyDescribePrivateLansRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "NetworkId.n": {
          "shape": "String"
        },
        "PrivateLanName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeRoutersRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "RouterId.n": {
          "shape": "String"
        },
        "RouterName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeScalingActivitiesRequest": {
      "type": "structure",
      "members": {
        "ActivityDateFrom": {
          "shape": "String"
        },
        "ActivityDateTo": {
          "shape": "String"
        },
        "AutoScalingGroupName": {
          "shape": "String"
        },
        "Range.All": {
          "shape": "Boolean"
        },
        "Range.EndNumber": {
          "shape": "Integer"
        },
        "Range.StartNumber": {
          "shape": "Integer"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ]
    },
    "NiftyDescribeVpnGatewayActivitiesRequest": {
      "type": "structure",
      "members": {
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      }
    },
    "NiftyDescribeWebProxiesRequest": {
      "type": "structure",
      "members": {
        "Filter.n.Name": {
          "shape": "String"
        },
        "Filter.n.Value.m": {
          "shape": "String"
        },
        "RouterId.n": {
          "shape": "String"
        },
        "RouterName.n": {
          "shape": "String"
        }
      }
    },
    "NiftyDisableDhcpRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "NetworkId": {
          "shape": "String"
        },
        "NetworkName": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyDisassociateNatTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "AssociationId": {
          "shape": "String"
        }
      },
      "required": [
        "AssociationId"
      ]
    },
    "NiftyDisassociateRouteTableFromVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "AssociationId": {
          "shape": "String"
        }
      },
      "required": [
        "AssociationId"
      ]
    },
    "NiftyEnableDhcpRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "DhcpConfigId": {
          "shape": "String"
        },
        "DhcpOptionsId": {
          "shape": "String"
        },
        "NetworkId": {
          "shape": "String"
        },
        "NetworkName": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        }
      }
    },
    "NiftyModifyAddressAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "Attribute",
        "Value"
      ]
    },
    "NiftyModifyCustomerGatewayAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "Attribute",
        "Value"
      ]
    },
    "NiftyModifyInstanceSnapshotAttributeRequest": {
      "type": "structure",
      "members": {
        "Attribute": {
          "shape": "String"
        },
[...]
