{
  "version": "",
  "metadata": {
    "apiVersion": "2.2",
    "endpointPrefix": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "computing",
    "signatureVersion": "n2",
    "xmlNamespace": "http://dummy",
    "protocol": "query"
  },
  "operations": {
    "AllocateAddress": {
      "name": "AllocateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "output": {
        "shape": "AllocateAddressResult"
      }
    },
    "AssociateAddress": {
      "name": "AssociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "output": {
        "shape": "AssociateAddressResult"
      }
    },
    "AssociateRouteTable": {
      "name": "AssociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "output": {
        "shape": "AssociateRouteTableResult"
      }
    },
    "AssociateUsers": {
      "name": "AssociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "output": {
        "shape": "AssociateUsersResult"
      }
    },
    "AttachVolume": {
      "name": "AttachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "output": {
        "shape": "AttachVolumeResult"
      }
    },
    "AuthorizeSecurityGroupIngress": {
      "name": "AuthorizeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "output": {
        "shape": "AuthorizeSecurityGroupIngressResult"
      }
    },
    "CancelCopyInstances": {
      "name": "CancelCopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "output": {
        "shape": "CancelCopyInstancesResult"
      }
    },
    "CancelUpload": {
      "name": "CancelUpload",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "output": {
        "shape": "CancelUploadResult"
      }
    },
    "ClearLoadBalancerSession": {
      "name": "ClearLoadBalancerSession",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "output": {
        "shape": "ClearLoadBalancerSessionResult"
      }
    },
    "ConfigureHealthCheck": {
      "name": "ConfigureHealthCheck",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "output": {
        "shape": "ConfigureHealthCheckResult"
      }
    },
    "CopyInstances": {
      "name": "CopyInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "output": {
        "shape": "CopyInstancesResult"
      }
    },
    "CreateCustomerGateway": {
      "name": "CreateCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "output": {
        "shape": "CreateCustomerGatewayResult"
      }
    },
    "CreateDhcpOptions": {
      "name": "CreateDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "output": {
        "shape": "CreateDhcpOptionsResult"
      }
    },
    "CreateImage": {
      "name": "CreateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "output": {
        "shape": "CreateImageResult"
      }
    },
    "CreateKeyPair": {
      "name": "CreateKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "output": {
        "shape": "CreateKeyPairResult"
      }
    },
    "CreateLoadBalancer": {
      "name": "CreateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "output": {
        "shape": "CreateLoadBalancerResult"
      }
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "output": {
        "shape": "CreateRouteResult"
      }
    },
    "CreateRouteTable": {
      "name": "CreateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "output": {
        "shape": "CreateRouteTableResult"
      }
    },
    "CreateSecurityGroup": {
      "name": "CreateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateSecurityGroupResult"
      }
    },
    "CreateSslCertificate": {
      "name": "CreateSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "output": {
        "shape": "CreateSslCertificateResult"
      }
    },
    "CreateVolume": {
      "name": "CreateVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "output": {
        "shape": "CreateVolumeResult"
      }
    },
    "CreateVpnConnection": {
      "name": "CreateVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "output": {
        "shape": "CreateVpnConnectionResult"
      }
    },
    "CreateVpnGateway": {
      "name": "CreateVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "output": {
        "shape": "CreateVpnGatewayResult"
      }
    },
    "DeleteCustomerGateway": {
      "name": "DeleteCustomerGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "output": {
        "shape": "DeleteCustomerGatewayResult"
      }
    },
    "DeleteDhcpOptions": {
      "name": "DeleteDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "output": {
        "shape": "DeleteDhcpOptionsResult"
      }
    },
    "DeleteImage": {
      "name": "DeleteImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteKeyPair": {
      "name": "DeleteKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "output": {
        "shape": "DeleteKeyPairResult"
      }
    },
    "DeleteLoadBalancer": {
      "name": "DeleteLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "output": {
        "shape": "DeleteLoadBalancerResult"
      }
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "output": {
        "shape": "DeleteRouteResult"
      }
    },
    "DeleteRouteTable": {
      "name": "DeleteRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "output": {
        "shape": "DeleteRouteTableResult"
      }
    },
    "DeleteSecurityGroup": {
      "name": "DeleteSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteSecurityGroupResult"
      }
    },
    "DeleteSslCertificate": {
      "name": "DeleteSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "output": {
        "shape": "DeleteSslCertificateResult"
      }
    },
    "DeleteVolume": {
      "name": "DeleteVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "output": {
        "shape": "DeleteVolumeResult"
      }
    },
    "DeleteVpnConnection": {
      "name": "DeleteVpnConnection",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "output": {
        "shape": "DeleteVpnConnectionResult"
      }
    },
    "DeleteVpnGateway": {
      "name": "DeleteVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "output": {
        "shape": "DeleteVpnGatewayResult"
      }
    },
    "DeregisterInstancesFromLoadBalancer": {
      "name": "DeregisterInstancesFromLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "output": {
        "shape": "DeregisterInstancesFromLoadBalancerResult"
      }
    },
    "DeregisterInstancesFromSecurityGroup": {
      "name": "DeregisterInstancesFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "output": {
        "shape": "DeregisterInstancesFromSecurityGroupResult"
      }
    },
    "DescribeAddresses": {
      "name": "DescribeAddresses",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "output": {
        "shape": "DescribeAddressesResult"
      }
    },
    "DescribeAssociatedUsers": {
      "name": "DescribeAssociatedUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "output": {
        "shape": "DescribeAssociatedUsersResult"
      }
    },
    "DescribeAvailabilityZones": {
      "name": "DescribeAvailabilityZones",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "output": {
        "shape": "DescribeAvailabilityZonesResult"
      }
    },
    "DescribeCustomerGateways": {
      "name": "DescribeCustomerGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "output": {
        "shape": "DescribeCustomerGatewaysResult"
      }
    },
    "DescribeDhcpOptions": {
      "name": "DescribeDhcpOptions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "output": {
        "shape": "DescribeDhcpOptionsResult"
      }
    },
    "DescribeImages": {
      "name": "DescribeImages",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeInstanceAttribute": {
      "name": "DescribeInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "output": {
        "shape": "DescribeInstanceAttributeResult"
      }
    },
    "DescribeInstanceHealth": {
      "name": "DescribeInstanceHealth",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "output": {
        "shape": "DescribeInstanceHealthResult"
      }
    },
    "DescribeInstances": {
      "name": "DescribeInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "output": {
        "shape": "DescribeInstancesResult"
      }
    },
    "DescribeKeyPairs": {
      "name": "DescribeKeyPairs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "output": {
        "shape": "DescribeKeyPairsResult"
      }
    },
    "DescribeLoadBalancers": {
      "name": "DescribeLoadBalancers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "output": {
        "shape": "DescribeLoadBalancersResult"
      }
    },
    "DescribeRegions": {
      "name": "DescribeRegions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "output": {
        "shape": "DescribeRegionsResult"
      }
    },
    "DescribeResources": {
      "name": "DescribeResources",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "output": {
        "shape": "DescribeResourcesResult"
      }
    },
    "DescribeRouteTables": {
      "name": "DescribeRouteTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "output": {
        "shape": "DescribeRouteTablesResult"
      }
    },
    "DescribeSecurityActivities": {
      "name": "DescribeSecurityActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "output": {
        "shape": "DescribeSecurityActivitiesResult"
      }
    },
    "DescribeSecurityGroupOption": {
      "name": "DescribeSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupOptionRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupOptionResult"
      }
    },
    "DescribeSecurityGroups": {
      "name": "DescribeSecurityGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "output": {
        "shape": "DescribeSecurityGroupsResult"
      }
    },
    "DescribeServiceStatus": {
      "name": "DescribeServiceStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "output": {
        "shape": "DescribeServiceStatusResult"
      }
    },
    "DescribeSslCertificateAttribute": {
      "name": "DescribeSslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "output": {
        "shape": "DescribeSslCertificateAttributeResult"
      }
    },
    "DescribeSslCertificates": {
      "name": "DescribeSslCertificates",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "output": {
        "shape": "DescribeSslCertificatesResult"
      }
    },
    "DescribeUploads": {
      "name": "DescribeUploads",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "output": {
        "shape": "DescribeUploadsResult"
      }
    },
    "DescribeUsage": {
      "name": "DescribeUsage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "output": {
        "shape": "DescribeUsageResult"
      }
    },
    "DescribeUserActivities": {
      "name": "DescribeUserActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "output": {
        "shape": "DescribeUserActivitiesResult"
      }
    },
    "DescribeVolumes": {
      "name": "DescribeVolumes",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "output": {
        "shape": "DescribeVolumesResult"
      }
    },
    "DescribeVpnConnections": {
      "name": "DescribeVpnConnections",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "output": {
        "shape": "DescribeVpnConnectionsResult"
      }
    },
    "DescribeVpnGateways": {
      "name": "DescribeVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "output": {
        "shape": "DescribeVpnGatewaysResult"
      }
    },
    "DetachVolume": {
      "name": "DetachVolume",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "output": {
        "shape": "DetachVolumeResult"
      }
    },
    "DisassociateAddress": {
      "name": "DisassociateAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "output": {
        "shape": "DisassociateAddressResult"
      }
    },
    "DisassociateRouteTable": {
      "name": "DisassociateRouteTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "output": {
        "shape": "DisassociateRouteTableResult"
      }
    },
    "DissociateUsers": {
      "name": "DissociateUsers",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "output": {
        "shape": "DissociateUsersResult"
      }
    },
    "DownloadSslCertificate": {
      "name": "DownloadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "output": {
        "shape": "DownloadSslCertificateResult"
      }
    },
    "ImportInstance": {
      "name": "ImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "output": {
        "shape": "ImportInstanceResult"
      }
    },
    "ImportKeyPair": {
      "name": "ImportKeyPair",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "output": {
        "shape": "ImportKeyPairResult"
      }
    },
    "ModifyImageAttribute": {
      "name": "ModifyImageAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "output": {
        "shape": "ModifyImageAttributeResult"
      }
    },
    "ModifyInstanceAttribute": {
      "name": "ModifyInstanceAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "output": {
        "shape": "ModifyInstanceAttributeResult"
      }
    },
    "ModifySslCertificateAttribute": {
      "name": "ModifySslCertificateAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "output": {
        "shape": "ModifySslCertificateAttributeResult"
      }
    },
    "ModifyVolumeAttribute": {
      "name": "ModifyVolumeAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "output": {
        "shape": "ModifyVolumeAttributeResult"
      }
    },
    "NiftyAssociateImage": {
      "name": "NiftyAssociateImage",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "output": {
        "shape": "NiftyAssociateImageResult"
      }
    },
    "NiftyAssociateNatTable": {
      "name": "NiftyAssociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "output": {
        "shape": "NiftyAssociateNatTableResult"
      }
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "output": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayResult"
      }
    },
    "NiftyCreateAlarm": {
      "name": "NiftyCreateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "output": {
        "shape": "NiftyCreateAlarmResult"
      }
    },
    "NiftyCreateAutoScalingGroup": {
      "name": "NiftyCreateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "output": {
        "shape": "NiftyCreateAutoScalingGroupResult"
      }
    },
    "NiftyCreateDhcpConfig": {
      "name": "NiftyCreateDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "output": {
        "shape": "NiftyCreateDhcpConfigResult"
      }
    },
    "NiftyCreateDhcpIpAddressPool": {
      "name": "NiftyCreateDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "output": {
        "shape": "NiftyCreateDhcpIpAddressPoolResult"
      }
    },
    "NiftyCreateDhcpStaticMapping": {
      "name": "NiftyCreateDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "output": {
        "shape": "NiftyCreateDhcpStaticMappingResult"
      }
    },
    "NiftyCreateInstanceSnapshot": {
      "name": "NiftyCreateInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "output": {
        "shape": "NiftyCreateInstanceSnapshotResult"
      }
    },
    "NiftyCreateNatRule": {
      "name": "NiftyCreateNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "output": {
        "shape": "NiftyCreateNatRuleResult"
      }
    },
    "NiftyCreateNatTable": {
      "name": "NiftyCreateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "output": {
        "shape": "NiftyCreateNatTableResult"
      }
    },
    "NiftyCreatePrivateLan": {
      "name": "NiftyCreatePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "output": {
        "shape": "NiftyCreatePrivateLanResult"
      }
    },
    "NiftyCreateRouter": {
      "name": "NiftyCreateRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "output": {
        "shape": "NiftyCreateRouterResult"
      }
    },
    "NiftyCreateWebProxy": {
      "name": "NiftyCreateWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "output": {
        "shape": "NiftyCreateWebProxyResult"
      }
    },
    "NiftyDeleteAlarm": {
      "name": "NiftyDeleteAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "output": {
        "shape": "NiftyDeleteAlarmResult"
      }
    },
    "NiftyDeleteAutoScalingGroup": {
      "name": "NiftyDeleteAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "output": {
        "shape": "NiftyDeleteAutoScalingGroupResult"
      }
    },
    "NiftyDeleteDhcpConfig": {
      "name": "NiftyDeleteDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "output": {
        "shape": "NiftyDeleteDhcpConfigResult"
      }
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "name": "NiftyDeleteDhcpIpAddressPool",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "output": {
        "shape": "NiftyDeleteDhcpIpAddressPoolResult"
      }
    },
    "NiftyDeleteDhcpStaticMapping": {
      "name": "NiftyDeleteDhcpStaticMapping",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "output": {
        "shape": "NiftyDeleteDhcpStaticMappingResult"
      }
    },
    "NiftyDeleteInstanceSnapshot": {
      "name": "NiftyDeleteInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "output": {
        "shape": "NiftyDeleteInstanceSnapshotResult"
      }
    },
    "NiftyDeleteNatRule": {
      "name": "NiftyDeleteNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "output": {
        "shape": "NiftyDeleteNatRuleResult"
      }
    },
    "NiftyDeleteNatTable": {
      "name": "NiftyDeleteNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "output": {
        "shape": "NiftyDeleteNatTableResult"
      }
    },
    "NiftyDeletePrivateLan": {
      "name": "NiftyDeletePrivateLan",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "output": {
        "shape": "NiftyDeletePrivateLanResult"
      }
    },
    "NiftyDeleteRouter": {
      "name": "NiftyDeleteRouter",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "output": {
        "shape": "NiftyDeleteRouterResult"
      }
    },
    "NiftyDeleteWebProxy": {
      "name": "NiftyDeleteWebProxy",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "output": {
        "shape": "NiftyDeleteWebProxyResult"
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "output": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupResult"
      }
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "output": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupResult"
      }
    },
    "NiftyDescribeAlarmHistory": {
      "name": "NiftyDescribeAlarmHistory",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "output": {
        "shape": "NiftyDescribeAlarmHistoryResult"
      }
    },
    "NiftyDescribeAlarmRulesActivities": {
      "name": "NiftyDescribeAlarmRulesActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "output": {
        "shape": "NiftyDescribeAlarmRulesActivitiesResult"
      }
    },
    "NiftyDescribeAlarms": {
      "name": "NiftyDescribeAlarms",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "output": {
        "shape": "NiftyDescribeAlarmsResult"
      }
    },
    "NiftyDescribeAlarmsPartitions": {
      "name": "NiftyDescribeAlarmsPartitions",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "output": {
        "shape": "NiftyDescribeAlarmsPartitionsResult"
      }
    },
    "NiftyDescribeAutoScalingGroups": {
      "name": "NiftyDescribeAutoScalingGroups",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "output": {
        "shape": "NiftyDescribeAutoScalingGroupsResult"
      }
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "output": {
        "shape": "NiftyDescribeCorporateInfoForCertificateResult"
      }
    },
    "NiftyDescribeDhcpConfigs": {
      "name": "NiftyDescribeDhcpConfigs",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "output": {
        "shape": "NiftyDescribeDhcpConfigsResult"
      }
    },
    "NiftyDescribeDhcpStatus": {
      "name": "NiftyDescribeDhcpStatus",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "output": {
        "shape": "NiftyDescribeDhcpStatusResult"
      }
    },
    "NiftyDescribeInstanceSnapshots": {
      "name": "NiftyDescribeInstanceSnapshots",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "output": {
        "shape": "NiftyDescribeInstanceSnapshotsResult"
      }
    },
    "NiftyDescribeNatTables": {
      "name": "NiftyDescribeNatTables",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "output": {
        "shape": "NiftyDescribeNatTablesResult"
      }
    },
    "NiftyDescribePerformanceChart": {
      "name": "NiftyDescribePerformanceChart",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "output": {
        "shape": "NiftyDescribePerformanceChartResult"
      }
    },
    "NiftyDescribePrivateLans": {
      "name": "NiftyDescribePrivateLans",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "output": {
        "shape": "NiftyDescribePrivateLansResult"
      }
    },
    "NiftyDescribeRouters": {
      "name": "NiftyDescribeRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "output": {
        "shape": "NiftyDescribeRoutersResult"
      }
    },
    "NiftyDescribeScalingActivities": {
      "name": "NiftyDescribeScalingActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "output": {
        "shape": "NiftyDescribeScalingActivitiesResult"
      }
    },
    "NiftyDescribeVpnGatewayActivities": {
      "name": "NiftyDescribeVpnGatewayActivities",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "output": {
        "shape": "NiftyDescribeVpnGatewayActivitiesResult"
      }
    },
    "NiftyDescribeWebProxies": {
      "name": "NiftyDescribeWebProxies",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "output": {
        "shape": "NiftyDescribeWebProxiesResult"
      }
    },
    "NiftyDisableDhcp": {
      "name": "NiftyDisableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "output": {
        "shape": "NiftyDisableDhcpResult"
      }
    },
    "NiftyDisassociateNatTable": {
      "name": "NiftyDisassociateNatTable",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "output": {
        "shape": "NiftyDisassociateNatTableResult"
      }
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "output": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayResult"
      }
    },
    "NiftyEnableDhcp": {
      "name": "NiftyEnableDhcp",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "output": {
        "shape": "NiftyEnableDhcpResult"
      }
    },
    "NiftyModifyAddressAttribute": {
      "name": "NiftyModifyAddressAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyAddressAttributeResult"
      }
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "name": "NiftyModifyCustomerGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyCustomerGatewayAttributeResult"
      }
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyInstanceSnapshotAttributeResult"
      }
    },
    "NiftyModifyKeyPairAttribute": {
      "name": "NiftyModifyKeyPairAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyKeyPairAttributeResult"
      }
    },
    "NiftyModifyPrivateLanAttribute": {
      "name": "NiftyModifyPrivateLanAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyPrivateLanAttributeResult"
      }
    },
    "NiftyModifyRouterAttribute": {
      "name": "NiftyModifyRouterAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyRouterAttributeResult"
      }
    },
    "NiftyModifyVpnGatewayAttribute": {
      "name": "NiftyModifyVpnGatewayAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyVpnGatewayAttributeResult"
      }
    },
    "NiftyModifyWebProxyAttribute": {
      "name": "NiftyModifyWebProxyAttribute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "output": {
        "shape": "NiftyModifyWebProxyAttributeResult"
      }
    },
    "NiftyRebootRouters": {
      "name": "NiftyRebootRouters",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "output": {
        "shape": "NiftyRebootRoutersResult"
      }
    },
    "NiftyRebootVpnGateways": {
      "name": "NiftyRebootVpnGateways",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "output": {
        "shape": "NiftyRebootVpnGatewaysResult"
      }
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "output": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupResult"
      }
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "output": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupResult"
      }
    },
    "NiftyReleaseRouterBackupState": {
      "name": "NiftyReleaseRouterBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "output": {
        "shape": "NiftyReleaseRouterBackupStateResult"
      }
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "name": "NiftyReleaseVpnGatewayBackupState",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "output": {
        "shape": "NiftyReleaseVpnGatewayBackupStateResult"
      }
    },
    "NiftyReplaceDhcpConfig": {
      "name": "NiftyReplaceDhcpConfig",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpConfigRequest"
      },
      "output": {
        "shape": "NiftyReplaceDhcpConfigResult"
      }
    },
    "NiftyReplaceDhcpOption": {
      "name": "NiftyReplaceDhcpOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpOptionRequest"
      },
      "output": {
        "shape": "NiftyReplaceDhcpOptionResult"
      }
    },
    "NiftyReplaceNatRule": {
      "name": "NiftyReplaceNatRule",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatRuleRequest"
      },
      "output": {
        "shape": "NiftyReplaceNatRuleResult"
      }
    },
    "NiftyReplaceNatTableAssociation": {
      "name": "NiftyReplaceNatTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceNatTableAssociationRequest"
      },
      "output": {
        "shape": "NiftyReplaceNatTableAssociationResult"
      }
    },
    "NiftyReplaceRouteTableAssociationWithVpnGateway": {
      "name": "NiftyReplaceRouteTableAssociationWithVpnGateway",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayRequest"
      },
      "output": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayResult"
      }
    },
    "NiftyReplaceRouterLatestVersion": {
      "name": "NiftyReplaceRouterLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceRouterLatestVersionRequest"
      },
      "output": {
        "shape": "NiftyReplaceRouterLatestVersionResult"
      }
    },
    "NiftyReplaceVpnGatewayLatestVersion": {
      "name": "NiftyReplaceVpnGatewayLatestVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionRequest"
      },
      "output": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionResult"
      }
    },
    "NiftyRestoreInstanceSnapshot": {
      "name": "NiftyRestoreInstanceSnapshot",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreInstanceSnapshotRequest"
      },
      "output": {
        "shape": "NiftyRestoreInstanceSnapshotResult"
      }
    },
    "NiftyRestoreRouterPreviousVersion": {
      "name": "NiftyRestoreRouterPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreRouterPreviousVersionRequest"
      },
      "output": {
        "shape": "NiftyRestoreRouterPreviousVersionResult"
      }
    },
    "NiftyRestoreVpnGatewayPreviousVersion": {
      "name": "NiftyRestoreVpnGatewayPreviousVersion",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionRequest"
      },
      "output": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionResult"
      }
    },
    "NiftyRetryImportInstance": {
      "name": "NiftyRetryImportInstance",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyRetryImportInstanceRequest"
      },
      "output": {
        "shape": "NiftyRetryImportInstanceResult"
      }
    },
    "NiftyUpdateAlarm": {
      "name": "NiftyUpdateAlarm",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAlarmRequest"
      },
      "output": {
        "shape": "NiftyUpdateAlarmResult"
      }
    },
    "NiftyUpdateAutoScalingGroup": {
      "name": "NiftyUpdateAutoScalingGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateAutoScalingGroupRequest"
      },
      "output": {
        "shape": "NiftyUpdateAutoScalingGroupResult"
      }
    },
    "NiftyUpdateInstanceNetworkInterfaces": {
      "name": "NiftyUpdateInstanceNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesRequest"
      },
      "output": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesResult"
      }
    },
    "NiftyUpdateRouterNetworkInterfaces": {
      "name": "NiftyUpdateRouterNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateRouterNetworkInterfacesRequest"
      },
      "output": {
        "shape": "NiftyUpdateRouterNetworkInterfacesResult"
      }
    },
    "NiftyUpdateVpnGatewayNetworkInterfaces": {
      "name": "NiftyUpdateVpnGatewayNetworkInterfaces",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesRequest"
      },
      "output": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesResult"
      }
    },
    "RebootInstances": {
      "name": "RebootInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RebootInstancesRequest"
      },
      "output": {
        "shape": "RebootInstancesResult"
      }
    },
    "RegisterCorporateInfoForCertificate": {
      "name": "RegisterCorporateInfoForCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterCorporateInfoForCertificateRequest"
      },
      "output": {
        "shape": "RegisterCorporateInfoForCertificateResult"
      }
    },
    "RegisterInstancesWithLoadBalancer": {
      "name": "RegisterInstancesWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithLoadBalancerRequest"
      },
      "output": {
        "shape": "RegisterInstancesWithLoadBalancerResult"
      }
    },
    "RegisterInstancesWithSecurityGroup": {
      "name": "RegisterInstancesWithSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterInstancesWithSecurityGroupRequest"
      },
      "output": {
        "shape": "RegisterInstancesWithSecurityGroupResult"
      }
    },
    "RegisterPortWithLoadBalancer": {
      "name": "RegisterPortWithLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RegisterPortWithLoadBalancerRequest"
      },
      "output": {
        "shape": "RegisterPortWithLoadBalancerResult"
      }
    },
    "ReleaseAddress": {
      "name": "ReleaseAddress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReleaseAddressRequest"
      },
      "output": {
        "shape": "ReleaseAddressResult"
      }
    },
    "ReplaceRoute": {
      "name": "ReplaceRoute",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteRequest"
      },
      "output": {
        "shape": "ReplaceRouteResult"
      }
    },
    "ReplaceRouteTableAssociation": {
      "name": "ReplaceRouteTableAssociation",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "ReplaceRouteTableAssociationRequest"
      },
      "output": {
        "shape": "ReplaceRouteTableAssociationResult"
      }
    },
    "RevokeSecurityGroupIngress": {
      "name": "RevokeSecurityGroupIngress",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RevokeSecurityGroupIngressRequest"
      },
      "output": {
        "shape": "RevokeSecurityGroupIngressResult"
      }
    },
    "RunInstances": {
      "name": "RunInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "RunInstancesRequest"
      },
      "output": {
        "shape": "RunInstancesResult"
      }
    },
    "SetFilterForLoadBalancer": {
      "name": "SetFilterForLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "SetFilterForLoadBalancerRequest"
      },
      "output": {
        "shape": "SetFilterForLoadBalancerResult"
      }
    },
    "StartInstances": {
      "name": "StartInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StartInstancesRequest"
      },
      "output": {
        "shape": "StartInstancesResult"
      }
    },
    "StopInstances": {
      "name": "StopInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "StopInstancesRequest"
      },
      "output": {
        "shape": "StopInstancesResult"
      }
    },
    "TerminateInstances": {
      "name": "TerminateInstances",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "TerminateInstancesRequest"
      },
      "output": {
        "shape": "TerminateInstancesResult"
      }
    },
    "UpdateLoadBalancer": {
      "name": "UpdateLoadBalancer",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerRequest"
      },
      "output": {
        "shape": "UpdateLoadBalancerResult"
      }
    },
    "UpdateLoadBalancerOption": {
      "name": "UpdateLoadBalancerOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateLoadBalancerOptionRequest"
      },
      "output": {
        "shape": "UpdateLoadBalancerOptionResult"
      }
    },
    "UpdateSecurityGroup": {
      "name": "UpdateSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupRequest"
      },
      "output": {
        "shape": "UpdateSecurityGroupResult"
      }
    },
    "UpdateSecurityGroupOption": {
      "name": "UpdateSecurityGroupOption",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UpdateSecurityGroupOptionRequest"
      },
      "output": {
        "shape": "UpdateSecurityGroupOptionResult"
      }
    },
    "UploadSslCertificate": {
      "name": "UploadSslCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/api/2.2/"
      },
      "input": {
        "shape": "UploadSslCertificateRequest"
      },
      "output": {
        "shape": "UploadSslCertificateResult"
      }
    }
  },
  "shapes": {
    "": {
      "type": ""
    },
    "AcceptedRouteCount": {
      "type": "integer"
    },
    "AccountName": {
      "type": "boolean"
    },
    "AccountingType": {
      "type": "string"
    },
    "AccountingTypeList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "AddDatetime": {
      "type": "timestamp"
    },
    "AddDiskCount": {
      "type": "integer"
    },
    "AddDiskTotalSize": {
      "type": "integer"
    },
    "AddList": {
      "type": "list",
      "member": {
        "shape": "Group"
      }
    },
    "AddOnFilter": {
      "type": "boolean"
    },
    "Address": {
      "type": "string"
    },
    "Admin": {
      "type": "string"
    },
    "Agreement": {
      "type": "boolean"
    },
    "Alarm": {
      "type": "string"
    },
    "AlarmCondition": {
      "type": "string"
    },
    "AlarmDateHistoryItemType": {
      "type": "structure",
      "members": {
        "AlarmEventHistorySet": {
          "shape": "AlarmEventHistorySetType",
          "locationName": "alarmEventHistorySet"
        },
        "Date": {
          "shape": "String",
          "locationName": "date"
        }
      }
    },
    "AlarmDateHistorySetType": {
      "type": "list",
      "member": {
        "shape": "AlarmDateHistoryItemType"
      }
    },
    "AlarmEvent": {
      "type": "string"
    },
    "AlarmEventDatetime": {
      "type": "timestamp"
    },
    "AlarmEventHistoryItemType": {
      "type": "structure",
      "members": {
        "AlarmEvent": {
          "shape": "String",
          "locationName": "alarmEvent"
        },
        "AlarmEventDatetime": {
          "shape": "TStamp",
          "locationName": "alarmEventDatetime"
        }
      }
    },
    "AlarmEventHistorySetType": {
      "type": "list",
      "member": {
        "shape": "AlarmEventHistoryItemType"
      }
    },
    "AlarmReservationItemType": {
      "type": "structure",
      "members": {
        "AlarmCondition": {
          "shape": "String",
          "locationName": "alarmCondition"
        },
        "AlarmState": {
          "shape": "String",
          "locationName": "alarmState"
        },
        "AlarmTargetsSet": {
          "shape": "AlarmTargetsSetType",
          "locationName": "alarmTargetsSet"
        },
        "CreatedTime": {
          "shape": "Datetime",
          "locationName": "createdTime"
        },
        "Description": {
          "shape": "String",
          "locationName": "description"
        },
        "EmailAddressSet": {
          "shape": "EmailAddressSetType",
          "locationName": "emailAddressSet"
        },
        "FunctionName": {
          "shape": "String",
          "locationName": "functionName"
        },
        "RuleName": {
          "shape": "String",
          "locationName": "ruleName"
        },
        "RuleSet": {
          "shape": "RuleSetType",
          "locationName": "ruleSet"
        },
        "Zone": {
          "shape": "String",
          "locationName": "zone"
        }
      }
    },
    "AlarmReservationSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmReservationItemType"
      }
    },
    "AlarmRulesActivitiesDateItemType": {
      "type": "structure",
      "members": {
        "AlarmRulesActivitiesEventSet": {
          "shape": "AlarmRulesActivitiesEventSetType",
          "locationName": "alarmRulesActivitiesEventSet"
        },
        "Date": {
          "shape": "String",
          "locationName": "date"
        }
      }
    },
    "AlarmRulesActivitiesDateSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmRulesActivitiesDateItemType"
      }
    },
    "AlarmRulesActivitiesEvent": {
      "type": "string"
    },
    "AlarmRulesActivitiesEventDatetime": {
      "type": "timestamp"
    },
    "AlarmRulesActivitiesEventItemType": {
      "type": "structure",
      "members": {
        "AlarmRulesActivitiesEvent": {
          "shape": "String",
          "locationName": "alarmRulesActivitiesEvent"
        },
        "AlarmRulesActivitiesEventDatetime": {
          "shape": "TStamp",
          "locationName": "alarmRulesActivitiesEventDatetime"
        },
        "ResourceName": {
          "shape": "String",
          "locationName": "resourceName"
        },
        "Value": {
          "shape": "String",
          "locationName": "value"
        }
      }
    },
    "AlarmRulesActivitiesEventSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmRulesActivitiesEventItemType"
      }
    },
    "AlarmRulesActivitiesItemType": {
      "type": "structure",
      "members": {
        "AlarmRulesActivitiesDateSet": {
          "shape": "AlarmRulesActivitiesDateSetType",
          "locationName": "alarmRulesActivitiesDateSet"
        },
        "DataType": {
          "shape": "String",
          "locationName": "dataType"
        }
      }
    },
    "AlarmRulesActivitiesReservationItemType": {
      "type": "structure",
      "members": {
        "AlarmRulesActivitiesSet": {
          "shape": "AlarmRulesActivitiesSetType",
          "locationName": "alarmRulesActivitiesSet"
        },
        "FunctionName": {
          "shape": "String",
          "locationName": "functionName"
        },
        "RuleName": {
          "shape": "String",
          "locationName": "ruleName"
        }
      }
    },
    "AlarmRulesActivitiesReservationSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmRulesActivitiesReservationItemType"
      }
    },
    "AlarmRulesActivitiesSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmRulesActivitiesItemType"
      }
    },
    "AlarmState": {
      "type": "string"
    },
    "AlarmTargetItemType": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "shape": "String",
          "locationName": "instanceId"
        },
        "PartitionsSet": {
          "shape": "PartitionsSetType",
          "locationName": "partitionsSet"
        }
      }
    },
    "AlarmTargetSetType": {
      "type": "list",
      "member": {
        "shape": "AlarmTargetItemType"
      }
    },
    "AlarmTargetsSetType": {
      "type": "list",
      "member": {
        "shape": "ResourceNameItemType"
      }
    },
    "All": {
      "type": "boolean"
    },
    "AllocateAddressRequest": {
      "type": "structure",
      "members": {
        "Domain": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NiftyPrivateIp": {
          "shape": "Boolean"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      }
    },
    "AllocateAddressResult": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "shape": "String",
          "locationName": "allocationId"
        },
        "Domain": {
          "shape": "String",
          "locationName": "domain"
        },
        "Placement": {
          "shape": "PlacementResponseType",
          "locationName": "placement"
        },
        "PrivateIpAddress": {
          "shape": "String",
          "locationName": "privateIpAddress"
        },
        "PublicIp": {
          "shape": "String",
          "locationName": "publicIp"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "AllocationId": {
      "type": "string"
    },
    "AlphabetName1": {
      "type": "string"
    },
    "AlphabetName2": {
      "type": "string"
    },
    "AmiLaunchIndex": {
      "type": "string"
    },
    "AnalyzeCode": {
      "type": "string"
    },
    "AnalyzeResultSetItemType": {
      "type": "structure",
      "members": {
        "AnalyzeCode": {
          "shape": "String",
          "locationName": "analyzeCode"
        },
        "Line": {
          "shape": "String",
          "locationName": "line"
        }
      }
    },
    "AnalyzeResultSetType": {
      "type": "list",
      "member": {
        "shape": "AnalyzeResultSetItemType"
      }
    },
    "AppCookieStickinessPolicies": {
      "type": "list",
      "member": {
        "shape": "AppCookieStickinessPolicy"
      }
    },
    "AppCookieStickinessPolicy": {
      "type": "structure",
      "members": {
        "CookieName": {
          "shape": "String",
          "locationName": "CookieName"
        },
        "PolicyName": {
          "shape": "String",
          "locationName": "PolicyName"
        }
      }
    },
    "ApproverEmailAddress": {
      "type": "integer"
    },
    "Architecture": {
      "type": "string"
    },
    "AssociateAddressRequest": {
      "type": "structure",
      "members": {
        "AllocationId": {
          "shape": "String"
        },
        "AllowReassociation": {
          "shape": "Boolean"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NiftyReboot": {
          "shape": "String"
        },
        "PrivateIpAddress": {
          "shape": "String"
        },
        "PublicIp": {
          "shape": "String"
        }
      },
      "required": [
        "InstanceId"
      ]
    },
    "AssociateAddressResult": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "shape": "String",
          "locationName": "associationId"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "AssociateRouteTableRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "RouterId": {
          "shape": "String"
        },
        "RouterName": {
          "shape": "String"
        },
        "SubnetId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId"
      ]
    },
    "AssociateRouteTableResult": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "shape": "String",
          "locationName": "associationId"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "AssociateUserResult": {
      "type": "structure",
      "members": {
        "Users": {
          "shape": "Users",
          "locationName": "Users"
        }
      }
    },
    "AssociateUsersRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "shape": "String"
        },
        "UsersList": {
          "shape": "UsersList"
        }
      },
      "required": [
        "FunctionName",
        "UsersList"
      ]
    },
    "AssociateUsersResult": {
      "type": "structure",
      "members": {
        "AssociateUsersResult": {
          "shape": "",
          "locationName": "AssociateUsersResult"
        },
        "ResponseMetadata": {
          "shape": "ResponseMetadata",
          "locationName": "ResponseMetadata"
        }
      }
    },
    "AssociationId": {
      "type": "string"
    },
    "AttachTime": {
      "type": "timestamp"
    },
    "AttachVolumeRequest": {
      "type": "structure",
      "members": {
        "Device": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "AttachVolumeResult": {
      "type": "structure",
      "members": {
        "AttachTime": {
          "shape": "TStamp",
          "locationName": "attachTime"
        },
        "Device": {
          "shape": "String",
          "locationName": "device"
        },
        "InstanceId": {
          "shape": "String",
          "locationName": "instanceId"
        },
        "InstanceUniqueId": {
          "shape": "String",
          "locationName": "instanceUniqueId"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Status": {
          "shape": "String",
          "locationName": "status"
        },
        "VolumeId": {
          "shape": "String",
          "locationName": "volumeId"
        }
      }
    },
    "AttachmentID": {
      "type": "string"
    },
    "AttachmentItemType": {
      "type": "structure",
      "members": {
        "State": {
          "shape": "String",
          "locationName": "state"
        },
        "VpcId": {
          "shape": "String",
          "locationName": "vpcId"
        }
      }
    },
    "AttachmentSetItemResponseType": {
      "type": "structure",
      "members": {
        "AttachTime": {
          "shape": "TStamp",
          "locationName": "attachTime"
        },
        "DeleteOnTermination": {
          "shape": "Boolean",
          "locationName": "deleteOnTermination"
        },
        "Device": {
          "shape": "String",
          "locationName": "device"
        },
        "InstanceId": {
          "shape": "String",
          "locationName": "instanceId"
        },
        "InstanceUniqueId": {
          "shape": "String",
          "locationName": "instanceUniqueId"
        },
        "Status": {
          "shape": "String",
          "locationName": "status"
        },
        "VolumeId": {
          "shape": "String",
          "locationName": "volumeId"
        }
      }
    },
    "AttachmentSetResponseType": {
      "type": "list",
      "member": {
        "shape": "AttachmentSetItemResponseType"
      }
    },
    "AttachmentType": {
      "type": "list",
      "member": {
        "shape": "AttachmentItemType"
      }
    },
    "Attribute": {
      "type": "string"
    },
    "AuthorizeSecurityGroupIngressRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "shape": "String"
        },
        "IpPermissionsList": {
          "shape": "IpPermissionsList"
        },
        "UserId": {
          "shape": "String"
        }
      }
    },
    "AuthorizeSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "AutoScaleCount": {
      "type": "integer"
    },
    "AutoScalingGroupName": {
      "type": "string"
    },
    "AutoScalingGroupNameList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "AutoScalingInstancesItemType": {
      "type": "structure",
      "members": {
        "DnsName": {
          "shape": "String",
          "locationName": "dnsName"
        },
        "ExpireTime": {
          "shape": "TStamp",
          "locationName": "expireTime"
        },
        "InstanceId": {
          "shape": "String",
          "locationName": "instanceId"
        },
        "InstanceState": {
          "shape": "InstanceStateType",
          "locationName": "instanceState"
        },
        "InstanceType": {
          "shape": "String",
          "locationName": "instanceType"
        },
        "InstanceUniqueId": {
          "shape": "String",
          "locationName": "instanceUniqueId"
        }
      }
    },
    "AutoScalingInstancesSetType": {
      "type": "list",
      "member": {
        "shape": "AutoScalingInstancesItemType"
      }
    },
    "AutoScalingReservationInfoType": {
      "type": "structure",
      "members": {
        "Alarm": {
          "shape": "String",
          "locationName": "alarm"
        },
        "AutoScalingGroupName": {
          "shape": "String",
          "locationName": "autoScalingGroupName"
        },
        "ChangeInCapacity": {
          "shape": "Integer",
          "locationName": "changeInCapacity"
        },
        "CreatedTime": {
          "shape": "TStamp",
          "locationName": "createdTime"
        },
        "DefaultCooldown": {
          "shape": "Integer",
          "locationName": "defaultCooldown"
        },
        "Description": {
          "shape": "String",
          "locationName": "description"
        },
        "GroupSet": {
          "shape": "GroupSetType",
          "locationName": "groupSet"
        },
        "ImageId": {
          "shape": "String",
          "locationName": "imageId"
        },
        "InstanceLifecycleLimit": {
          "shape": "Integer",
          "locationName": "instanceLifecycleLimit"
        },
        "InstanceType": {
          "shape": "String",
          "locationName": "instanceType"
        },
        "InstancesSet": {
          "shape": "AutoScalingInstancesSetType",
          "locationName": "instancesSet"
        },
        "LoadBalancing": {
          "shape": "LoadBalancingSetType",
          "locationName": "loadBalancing"
        },
        "MaxSize": {
          "shape": "Integer",
          "locationName": "maxSize"
        },
        "MinSize": {
          "shape": "Integer",
          "locationName": "minSize"
        },
        "Placement": {
          "shape": "PlacementSetType",
          "locationName": "placement"
        },
        "Scaleout": {
          "shape": "Integer",
          "locationName": "scaleout"
        },
        "ScaleoutCondition": {
          "shape": "String",
          "locationName": "scaleoutCondition"
        },
        "ScheduleSet": {
          "shape": "ScheduleSetType",
          "locationName": "scheduleSet"
        },
        "TriggerSet": {
          "shape": "TriggerSetType",
          "locationName": "triggerSet"
        }
      }
    },
    "AutoScalingReservationSetType": {
      "type": "list",
      "member": {
        "shape": "AutoScalingReservationInfoType"
      }
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AvailabilityZoneItemType": {
      "type": "structure",
      "members": {
        "MessageSet": {
          "shape": "AvailabilityZoneMessageSetType",
          "locationName": "messageSet"
        },
        "RegionName": {
          "shape": "String",
          "locationName": "regionName"
        },
        "ZoneName": {
          "shape": "String",
          "locationName": "zoneName"
        },
        "ZoneState": {
          "shape": "String",
          "locationName": "zoneState"
        }
      }
    },
    "AvailabilityZoneMessageSetType": {
      "type": "list",
      "member": {
        "shape": "AvailabilityZoneMessageType"
      }
    },
    "AvailabilityZoneMessageType": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "String",
          "locationName": "message"
        }
      }
    },
    "AvailabilityZoneSetType": {
      "type": "list",
      "member": {
        "shape": "AvailabilityZoneItemType"
      }
    },
    "AvailabilityZones": {
      "type": "list",
      "member": {
        "shape": "string"
      }
    },
    "AvailabilityZonesList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "BackupInformationType": {
      "type": "structure",
      "members": {
        "ExpirationDate": {
          "shape": "TStamp",
          "locationName": "expirationDate"
        },
        "IsBackup": {
          "shape": "Boolean",
          "locationName": "isBackup"
        }
      }
    },
    "BalancingType": {
      "type": "string"
    },
    "BgpAsn": {
      "type": "string"
    },
    "BlockDeviceMappingItemType": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "shape": "String",
          "locationName": "deviceName"
        },
        "Ebs": {
          "shape": "EbsBlockDeviceType",
          "locationName": "ebs"
        },
        "NoDevice": {
          "shape": "EmptyElementType",
          "locationName": "noDevice"
        },
        "VirtualName": {
          "shape": "String",
          "locationName": "virtualName"
        }
      }
    },
    "BlockDeviceMappingList": {
      "type": "list",
      "member": {
        "shape": "EbsStruct"
      }
    },
    "BlockDeviceMappingType": {
      "type": "list",
      "member": {
        "shape": "BlockDeviceMappingItemType"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BreachDuration": {
      "type": "integer"
    },
    "BypassInterfaceStruct": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "shape": "NetworkId"
        },
        "NetworkName": {
          "shape": "NetworkName"
        }
      }
    },
    "Bytes": {
      "type": "integer"
    },
    "BytesConverted": {
      "type": "integer"
    },
    "CaState": {
      "type": "boolean"
    },
    "CancelCopyInstancesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "shape": "String"
        }
      }
    },
    "CancelCopyInstancesResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CancelUploadRequest": {
      "type": "structure",
      "members": {
        "ConversionTaskId": {
          "shape": "String"
        }
      },
      "required": [
        "ConversionTaskId"
      ]
    },
    "CancelUploadResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "CategoryName": {
      "type": "string"
    },
    "CertAuthority": {
      "type": "string"
    },
    "CertInfoStruct": {
      "type": "structure",
      "members": {
        "CountryName": {
          "shape": "CountryName"
        },
        "EmailAddress": {
          "shape": "EmailAddress"
        },
        "LocationName": {
          "shape": "LocationName"
        },
        "OrganizationName": {
          "shape": "OrganizationName"
        },
        "OrganizationUnitName": {
          "shape": "OrganizationUnitName"
        },
        "StateName": {
          "shape": "StateName"
        }
      }
    },
    "CertState": {
      "type": "string"
    },
    "ChangeInCapacity": {
      "type": "integer"
    },
    "Charge": {
      "type": "integer"
    },
    "Checksum": {
      "type": "integer"
    },
    "CidrBlock": {
      "type": "string"
    },
    "CidrIp": {
      "type": "string"
    },
    "City": {
      "type": "string"
    },
    "ClearLoadBalancerSessionRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "ClearLoadBalancerSessionResult": {
      "type": "ClearLoadBalancerSessionResult"
    },
    "ClientName": {
      "type": "string"
    },
    "Code": {
      "type": "integer"
    },
    "ConfigureHealthCheckRequest": {
      "type": "structure",
      "members": {
        "HealthCheck": {
          "shape": "HealthCheckStruct"
        },
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort",
        "HealthCheck",
        "HealthCheck",
        "HealthCheck"
      ]
    },
    "ConfigureHealthCheckResult": {
      "type": "structure",
      "members": {
        "HealthCheck": {
          "shape": "HealthCheck",
          "locationName": "HealthCheck"
        }
      }
    },
    "ControlPanelStatus": {
      "type": "string"
    },
    "ConversionTaskId": {
      "type": "string"
    },
    "ConversionTaskIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "ConversionTaskType": {
      "type": "structure",
      "members": {
        "ConversionTaskId": {
          "shape": "String",
          "locationName": "conversionTaskId"
        },
        "ExpirationTime": {
          "shape": "String",
          "locationName": "expirationTime"
        },
        "ImportInstance": {
          "shape": "ImportInstanceTaskDetailsType",
          "locationName": "importInstance"
        },
        "NetworkInterfaceSet": {
          "shape": "NetworkInterfaceSetType",
          "locationName": "networkInterfaceSet"
        },
        "State": {
          "shape": "String",
          "locationName": "state"
        },
        "StatusMessage": {
          "shape": "String",
          "locationName": "statusMessage"
        },
        "TagSet": {
          "shape": "ResourceTagSetType",
          "locationName": "tagSet"
        }
      }
    },
    "CookieExpirationPeriod": {
      "type": "string"
    },
    "CookieName": {
      "type": "string"
    },
    "CopyInfo": {
      "type": "string"
    },
    "CopyInstanceStruct": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "AccountingType"
        },
        "InstanceName": {
          "shape": "InstanceName"
        },
        "InstanceType": {
          "shape": "InstanceType"
        },
        "IpType": {
          "shape": "IpType"
        },
        "LoadBalancersList": {
          "shape": "LoadBalancersList"
        },
        "PlacementStruct": {
          "shape": "PlacementStruct"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        }
      }
    },
    "CopyInstancesRequest": {
      "type": "structure",
      "members": {
        "CopyCount": {
          "shape": "Integer"
        },
        "CopyInstance": {
          "shape": "CopyInstanceStruct"
        },
        "InstanceId": {
          "shape": "String"
        },
        "NetworkInterfaceList": {
          "shape": "NetworkInterfaceList"
        }
      },
      "required": [
        "InstanceId",
        "CopyInstance"
      ]
    },
    "CopyInstancesResult": {
      "type": "structure",
      "members": {
        "CopyInstanceSet": {
          "shape": "CopyInstanceSets",
          "locationName": "copyInstanceSet"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CorpGrade": {
      "type": "string"
    },
    "CorpName": {
      "type": "string"
    },
    "Count": {
      "type": "integer"
    },
    "CountryName": {
      "type": "string"
    },
    "Course": {
      "type": "string"
    },
    "CourseUpdateStruct": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Agreement"
        }
      }
    },
    "CreateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "BgpAsn": {
          "shape": "Integer"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NiftyCustomerGatewayDescription": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyLanSideCidrBlock": {
          "shape": "String"
        },
        "NiftyLanSideIpAddress": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "required": [
        "IpAddress"
      ]
    },
    "CreateCustomerGatewayResult": {
      "type": "structure",
      "members": {
        "CustomerGateway": {
          "shape": "CustomerGatewayType",
          "locationName": "customerGateway"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CreateDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpConfigurationList": {
          "shape": "DhcpConfigurationList"
        }
      },
      "required": [
        "DhcpConfigurationList",
        "DhcpConfigurationList"
      ]
    },
    "CreateDhcpOptionsResult": {
      "type": "structure",
      "members": {
        "DhcpOptions": {
          "shape": "DhcpOptionsType",
          "locationName": "dhcpOptions"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CreateImageRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "LeftInstance": {
          "shape": "Boolean"
        },
        "Name": {
          "shape": "String"
        },
        "NoReboot": {
          "shape": "Boolean"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      },
      "required": [
        "InstanceId",
        "Name"
      ]
    },
    "CreateImageResult": {
      "type": "structure",
      "members": {
        "ImageId": {
          "shape": "String",
          "locationName": "imageId"
        },
        "ImageState": {
          "shape": "String",
          "locationName": "imageState"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CreateKeyPairRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "shape": "String"
        },
        "KeyName": {
          "shape": "String"
        },
        "Password": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName",
        "Password"
      ]
    },
    "CreateKeyPairResult": {
      "type": "structure",
      "members": {
        "KeyFingerprint": {
          "shape": "String",
          "locationName": "keyFingerprint"
        },
        "KeyMaterial": {
          "shape": "String",
          "locationName": "keyMaterial"
        },
        "KeyName": {
          "shape": "String",
          "locationName": "keyName"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "CreateLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZonesList": {
          "shape": "AvailabilityZonesList"
        },
        "IpVersion": {
          "shape": "String"
        },
        "ListenersList": {
          "shape": "ListenersList"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "NetworkVolume": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName"
      ]
    },
    "CreateLoadBalancerResult": {
      "type": "structure",
      "members": {
        "DNSName": {
          "shape": "String",
          "locationName": "DNSName"
        }
      }
    },
    "CreateRouteRequest": {
      "type": "structure",
      "members": {
        "DestinationCidrBlock": {
          "shape": "String"
        },
        "GatewayId": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "IpAddress": {
          "shape": "String"
        },
        "NetworkId": {
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "shape": "String"
        },
        "NetworkName": {
          "shape": "String"
        },
        "RouteTableId": {
          "shape": "String"
        },
        "VpcPeeringConnectionId": {
          "shape": "String"
        }
      },
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ]
    },
    "CreateRouteResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "CreateRouteTableRequest": {
      "type": "structure",
      "members": {
        "VpcId": {
          "shape": "String"
        }
      }
    },
    "CreateRouteTableResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "RouteTable": {
          "shape": "RouteTableType",
          "locationName": "routeTable"
        }
      }
    },
    "CreateSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "GroupDescription": {
          "shape": "String"
        },
        "GroupName": {
          "shape": "String"
        },
        "Placement": {
          "shape": "PlacementStruct"
        }
      }
    },
    "CreateSecurityGroupResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "CreateSslCertificateRequest": {
      "type": "structure",
      "members": {
        "ApproverEmailAddress": {
          "shape": "String"
        },
        "CertAuthority": {
          "shape": "Integer"
        },
        "CertInfo": {
          "shape": "CertInfoStruct"
        },
        "Count": {
          "shape": "Integer"
        },
        "Fqdn": {
          "shape": "String"
        },
        "FqdnId": {
          "shape": "String"
        },
        "KeyLength": {
          "shape": "Integer"
        },
        "ValidityTerm": {
          "shape": "Integer"
        }
      }
    },
    "CreateSslCertificateResult": {
      "type": "structure",
      "members": {
        "ApproverEmailAddress": {
          "shape": "Integer",
          "locationName": "approverEmailAddress"
        },
        "CertAuthority": {
          "shape": "String",
          "locationName": "certAuthority"
        },
        "CertState": {
          "shape": "String",
          "locationName": "certState"
        },
        "Fqdn": {
          "shape": "String",
          "locationName": "fqdn"
        },
        "FqdnId": {
          "shape": "String",
          "locationName": "fqdnId"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "ValidityTerm": {
          "shape": "Integer",
          "locationName": "validityTerm"
        }
      }
    },
    "CreateTime": {
      "type": "timestamp"
    },
    "CreateVolumeRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "AvailabilityZone": {
          "shape": "String"
        },
        "Description": {
          "shape": "String"
        },
        "DiskType": {
          "shape": "String"
        },
        "InstanceId": {
          "shape": "String"
        },
        "Size": {
          "shape": "String"
        },
        "SnapshotId": {
          "shape": "String"
        },
        "VolumeId": {
          "shape": "String"
        }
      }
    },
    "CreateVolumeResult": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String",
          "locationName": "accountingType"
        },
        "AvailabilityZone": {
          "shape": "String",
          "locationName": "availabilityZone"
        },
        "CreateTime": {
          "shape": "TStamp",
          "locationName": "createTime"
        },
        "DiskType": {
          "shape": "String",
          "locationName": "diskType"
        },
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Size": {
          "shape": "String",
          "locationName": "size"
        },
        "SnapshotId": {
          "shape": "String",
          "locationName": "snapshotId"
        },
        "Status": {
          "shape": "String",
          "locationName": "status"
        },
        "VolumeId": {
          "shape": "String",
          "locationName": "volumeId"
        }
      }
    },
    "CreateVpnConnectionRequest": {
      "type": "structure",
      "members": {
        "Agreement": {
          "shape": "Boolean"
        },
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        },
        "NiftyIPsecConfiguration": {
          "shape": "NiftyIPsecConfigurationStruct"
        },
        "NiftyIpsecConfiguration": {
          "shape": "NiftyIpsecConfigurationStruct"
        },
        "NiftyRemoteVpn": {
          "shape": "NiftyRemoteVpnStruct"
        },
        "NiftyTunnel": {
          "shape": "NiftyTunnelStruct"
        },
        "NiftyVpnConnectionDescription": {
          "shape": "String"
        },
        "NiftyVpnConnectionMtu": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "Options": {
          "shape": "OptionsStruct"
        },
        "Type": {
          "shape": "String"
        },
        "VpnGatewayId": {
          "shape": "String"
        }
      },
      "required": [
        "Type",
        "VpnGatewayId"
      ]
    },
    "CreateVpnConnectionResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "VpnConnection": {
          "shape": "VpnConnectionType",
          "locationName": "vpnConnection"
        }
      }
    },
    "CreateVpnGatewayRequest": {
      "type": "structure",
      "members": {
        "AccountingType": {
          "shape": "String"
        },
        "NiftyNetwork": {
          "shape": "NiftyNetworkStruct"
        },
        "NiftyRedundancy": {
          "shape": "Boolean"
        },
        "NiftyVpnGatewayDescription": {
          "shape": "String"
        },
        "NiftyVpnGatewayName": {
          "shape": "String"
        },
        "NiftyVpnGatewayType": {
          "shape": "String"
        },
        "Placement": {
          "shape": "PlacementStruct"
        },
        "SecurityGroupList": {
          "shape": "SecurityGroupList"
        },
        "Type": {
          "shape": "String"
        }
      }
    },
    "CreateVpnGatewayResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "VpnGateway": {
          "shape": "VpnGatewayType",
          "locationName": "vpnGateway"
        }
      }
    },
    "CreatedTime": {
      "type": "timestamp"
    },
    "CurrentServersCount": {
      "type": "integer"
    },
    "CustomerGatewayConfiguration": {
      "type": "string"
    },
    "CustomerGatewayId": {
      "type": "string"
    },
    "CustomerGatewayIdList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "CustomerGatewayItemType": {
      "type": "structure",
      "members": {
        "BgpAsn": {
          "shape": "String",
          "locationName": "bgpAsn"
        },
        "CreatedTime": {
          "shape": "TStamp",
          "locationName": "createdTime"
        },
        "CustomerGatewayId": {
          "shape": "String",
          "locationName": "customerGatewayId"
        },
        "IpAddress": {
          "shape": "String",
          "locationName": "ipAddress"
        },
        "NiftyCustomerGatewayDescription": {
          "shape": "String",
          "locationName": "niftyCustomerGatewayDescription"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String",
          "locationName": "niftyCustomerGatewayName"
        },
        "NiftyLanSideCidrBlock": {
          "shape": "String",
          "locationName": "niftyLanSideCidrBlock"
        },
        "NiftyLanSideIpAddress": {
          "shape": "String",
          "locationName": "niftyLanSideIpAddress"
        },
        "State": {
          "shape": "String",
          "locationName": "state"
        },
        "TagSet": {
          "shape": "ResourceTagSetType",
          "locationName": "tagSet"
        },
        "Type": {
          "shape": "String",
          "locationName": "type"
        }
      }
    },
    "CustomerGatewaySetType": {
      "type": "list",
      "member": {
        "shape": "CustomerGatewayItemType"
      }
    },
    "CustomerGatewayType": {
      "type": "structure",
      "members": {
        "BgpAsn": {
          "shape": "String",
          "locationName": "bgpAsn"
        },
        "CreatedTime": {
          "shape": "TStamp",
          "locationName": "createdTime"
        },
        "CustomerGatewayId": {
          "shape": "String",
          "locationName": "customerGatewayId"
        },
        "IpAddress": {
          "shape": "String",
          "locationName": "ipAddress"
        },
        "NiftyCustomerGatewayDescription": {
          "shape": "String",
          "locationName": "niftyCustomerGatewayDescription"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String",
          "locationName": "niftyCustomerGatewayName"
        },
        "NiftyLanSideCidrBlock": {
          "shape": "String",
          "locationName": "niftyLanSideCidrBlock"
        },
        "NiftyLanSideIpAddress": {
          "shape": "String",
          "locationName": "niftyLanSideIpAddress"
        },
        "State": {
          "shape": "String",
          "locationName": "state"
        },
        "TagSet": {
          "shape": "ResourceTagSetType",
          "locationName": "tagSet"
        },
        "Type": {
          "shape": "String",
          "locationName": "type"
        }
      }
    },
    "CustomizeImageCount": {
      "type": "integer"
    },
    "DDayStruct": {
      "type": "structure",
      "members": {
        "EndingDDay": {
          "shape": "EndingDDay"
        },
        "StartingDDay": {
          "shape": "StartingDDay"
        }
      }
    },
    "DNSName": {
      "type": "string"
    },
    "DataItemType": {
      "type": "structure",
      "members": {
        "DateTime": {
          "shape": "String",
          "locationName": "dateTime"
        },
        "Value": {
          "shape": "String",
          "locationName": "value"
        }
      }
    },
    "DataSetType": {
      "type": "list",
      "member": {
        "shape": "DataItemType"
      }
    },
    "DataType": {
      "type": "string"
    },
    "DataTypeList": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "Date": {
      "type": "string"
    },
    "DateTime": {
      "type": "string"
    },
    "DayStruct": {
      "type": "structure",
      "members": {
        "SetFriday": {
          "shape": "SetFriday"
        },
        "SetMonday": {
          "shape": "SetMonday"
        },
        "SetSaturday": {
          "shape": "SetSaturday"
        },
        "SetSunday": {
          "shape": "SetSunday"
        },
        "SetThursday": {
          "shape": "SetThursday"
        },
        "SetTuesday": {
          "shape": "SetTuesday"
        },
        "SetWednesday": {
          "shape": "SetWednesday"
        }
      }
    },
    "DefaultCooldown": {
      "type": "integer"
    },
    "DeleteCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayId": {
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "shape": "String"
        }
      }
    },
    "DeleteCustomerGatewayResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "DeleteDhcpOptionsRequest": {
      "type": "structure",
      "members": {
        "DhcpOptionsId": {
          "shape": "String"
        }
      },
      "required": [
        "DhcpOptionsId"
      ]
    },
    "DeleteDhcpOptionsResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "DeleteImageRequest": {
      "type": "structure",
      "members": {
        "ImageId": {
          "shape": "String"
        }
      },
      "required": [
        "ImageId"
      ]
    },
    "DeleteImageResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        }
      }
    },
    "DeleteKeyPairRequest": {
      "type": "structure",
      "members": {
        "KeyName": {
          "shape": "String"
        }
      },
      "required": [
        "KeyName"
      ]
    },
    "DeleteKeyPairResult": {
      "type": "structure",
      "members": {
        "RequestId": {
          "shape": "String",
          "locationName": "requestId"
        },
        "Return": {
          "shape": "Boolean",
          "locationName": "return"
        }
      }
    },
    "DeleteLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "InstancePort": {
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "shape": "String"
        },
        "LoadBalancerPort": {
          "shape": "Integer"
        }
      },
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "InstancePort"
      ]
    },
    "DeleteLoadBalancerResult": {
      "type": ""
    },
    "DeleteOnTermination": {
[...]
